In [1]:
import pandas as pd

In [2]:
#reading in categories
path = 'categories.csv'
categs_df = pd.read_csv(path)
categs_df.head()

                category  category_id
0   Arts & Entertainment            3
1       Autos & Vehicles           47
2       Beauty & Fitness           44
3     Books & Literature           22
4  Business & Industrial           12

In [ ]:
#reading in all the csvs for all the categories
for cat in categs_df['category']:
    input_path = f'google_trends_csvs/{cat}_states.csv'