In [1]:
# import dependencies, and pytrends
from pytrends.request import TrendReq
import pandas as pd
import time
import numpy as np

pytrends = TrendReq()

In [2]:
#reading in the csv of all the categories
path = 'categories.csv'
categs_df = pd.read_csv(path)
categs_df.head()

                category  category_id
0   Arts & Entertainment            3
1       Autos & Vehicles           47
2       Beauty & Fitness           44
3     Books & Literature           22
4  Business & Industrial           12

In [3]:
#reading in the csv of the state abbreviations
states_path = 'statesAbbrev.csv'
states_abbrev_df = pd.read_csv(states_path)
states_abbrev_df.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [4]:
#creating a list of the state abbreviations with the country code added in
abbrev_list = [f"US-{x}" for x in states_abbrev_df['Code']]
len(abbrev_list)

51

In [98]:
abbrev_list

['US-AL',
 'US-AK',
 'US-AZ',
 'US-AR',
 'US-CA',
 'US-CO',
 'US-CT',
 'US-DE',
 'US-DC',
 'US-FL',
 'US-GA',
 'US-HI',
 'US-ID',
 'US-IL',
 'US-IN',
 'US-IA',
 'US-KS',
 'US-KY',
 'US-LA',
 'US-ME',
 'US-MD',
 'US-MA',
 'US-MI',
 'US-MN',
 'US-MS',
 'US-MO',
 'US-MT',
 'US-NE',
 'US-NV',
 'US-NH',
 'US-NJ',
 'US-NM',
 'US-NY',
 'US-NC',
 'US-ND',
 'US-OH',
 'US-OK',
 'US-OR',
 'US-PA',
 'US-RI',
 'US-SC',
 'US-SD',
 'US-TN',
 'US-TX',
 'US-UT',
 'US-VT',
 'US-VA',
 'US-WA',
 'US-WV',
 'US-WI',
 'US-WY']

In [5]:
#creating a list for all the category ids
cat_list = [x for x in categs_df['category_id']]

In [6]:
#creating a list for all the category names
cat_name_list = [x for x in categs_df['category']]

In [7]:
#creating list of columns to go into each state's df
columns_list = ['time'] + cat_name_list
#columns_list

In [8]:
#creating a dict to hold all the different state info on all the categories
statesinfo_df_dict = {}
for state in abbrev_list:
    statesinfo_df_dict[state] = pd.DataFrame(columns=columns_list)

In [9]:
#checking length of dict: should be same as len of abbrev_list
len(statesinfo_df_dict)

51

In [ ]:
#printing a test df for one state
#print(abbrev_list[27])
#statesinfo_df_dict[abbrev_list[27]]

In [25]:
#kw_list = '*'

#def per_state_info_collector(state):
    #for x in range(0, len(cat_name_list)):
        #try:
            #pytrends.build_payload(kw_list, cat=cat_list[x], timeframe='2019-01-01 2020-12-20', geo=state)
            #state_interest_df = pd.DataFrame(pytrends.interest_over_time())
            #state_interest_df.reset_index(level=0, inplace=True)
            #statesinfo_df_dict[state]['time'] = state_interest_df['date']
            #statesinfo_df_dict[state][f'{cat_name_list[x]}'] = state_interest_df['*']
            #output_path = f'google_trends_csvs/{state}_categs.csv'
            #statesinfo_df_dict[state].to_csv(output_path, index=False)
            #time.sleep(5)
        #except IndexError:
            #print(f"problem with {cat_name_list[x]}")

In [ ]:
#trying the function on one state
#per_state_info_collector("US-AL")
#statesinfo_df_dict['US-AL']

In [10]:
#attempting process per category instead of per state
#creating list of columns to go into each category's df
state_columns_list = ['time'] + abbrev_list

In [11]:
#creating a dict to hold all the different category info for all the states
cat_info_df_dict = {}
for cat in cat_name_list:
    cat_info_df_dict[cat] = pd.DataFrame(columns=state_columns_list)

In [12]:
#checking length of dict: should be same as len of cat_name_list
len(cat_info_df_dict)

1132

In [63]:
#printing a test df for one category
print(cat_name_list[32])
cat_info_df_dict[cat_name_list[32]]

Music & Audio

Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]

In [106]:
#function to get all data on a category for the states
kw_list = '*'

def per_cat_info_collector(category_index_num):
    for x in range(0, len(abbrev_list)):
        try:
            pytrends.build_payload(kw_list, cat=cat_list[category_index_num], timeframe='2019-01-01 2020-12-20', geo=abbrev_list[x])
            cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            cat_interest_df.reset_index(level=0, inplace=True)
            #global cat_info_df_dict
            cat_info_df_dict[cat_name_list[category_index_num]]['time'] = cat_interest_df['date']
            cat_info_df_dict[cat_name_list[category_index_num]][f'{abbrev_list[x]}'] = cat_interest_df['*']
            time.sleep(6)
        except IndexError:
            print(f"problem with {cat_name_list[category_index_num]}")
    print(cat_info_df_dict[cat_name_list[category_index_num]])
    cat_info_df_dict[cat_name_list[category_index_num]]
    output_path = f'google_trends_csvs/{cat_name_list[category_index_num]}_states.csv'
    cat_info_df_dict[cat_name_list[category_index_num]].to_csv(output_path, index=False)

In [27]:
#def save_csv(category_index_num):
    #output_path = f'google_trends_csvs/{cat_name_list[category_index_num]}_states.csv'
    #print(output_path)
    #cat_info_df_dict[cat_name_list[category_index_num]].to_csv(output_path, index=False)
    #print(cat_info_df_dict[cat_name_list[category_index_num]])

In [13]:
path = 'top_cats.csv'
top_cats_df = pd.read_csv(path)
top_cats_df

                            cat_name  cat_index
0                        Sports News       1077
1                            Weather         63
2   Celebrities & Entertainment News        184
3           Action & Adventure Films       1097
4              Lottery & Sweepstakes        364
5              Campaigns & Elections        398
6                       Online Video        211
7                    Law Enforcement        535
8          TV Sci-Fi & Fantasy Shows       1112
9                       Smart Phones       1071
10               Infectious Diseases        632
11                Voice & Video Chat        386
12                  Sony PlayStation       1044
13                       Health News       1253
14               Entertainment Media       1143

In [14]:
cat_names_list = [x for x in top_cats_df['cat_name']]
cat_index_list = [x for x in top_cats_df['cat_index']]

In [15]:
#creating a dict to hold all the different top category info for all the states
top_cat_info_df_dict = {}
for cat in cat_names_list:
    top_cat_info_df_dict[cat] = pd.DataFrame(columns=state_columns_list)

In [111]:
#test printing a df
top_cat_info_df_dict['Sports News']

Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]

In [16]:
len(top_cat_info_df_dict)

15

In [17]:
kw_list = '*'

def per_top_cat_info_collector(category_index_num):
    for x in range(0, len(abbrev_list)):
        try:
            pytrends.build_payload(kw_list, cat=cat_index_list[category_index_num], timeframe='2019-01-01 2020-12-20', geo=abbrev_list[x])
            cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            cat_interest_df.reset_index(level=0, inplace=True)
            #global cat_info_df_dict
            top_cat_info_df_dict[cat_names_list[category_index_num]]['time'] = cat_interest_df['date']
            top_cat_info_df_dict[cat_names_list[category_index_num]][f'{abbrev_list[x]}'] = cat_interest_df['*']
            time.sleep(3)
        except IndexError:
            print(f"problem with {cat_names_list[category_index_num]}")
    print(top_cat_info_df_dict[cat_names_list[category_index_num]])
    top_cat_info_df_dict[cat_names_list[category_index_num]]
    output_path = f'google_trends_csvs/top_trends/{cat_names_list[category_index_num]}_states.csv'
    top_cat_info_df_dict[cat_names_list[category_index_num]].to_csv(output_path, index=False)

In [114]:
for x in range(0, 4):
    per_top_cat_info_collector(x)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     66     67     76    100     83     66     78     62     60
1   2019-01-13     58     66     70     64     72     63     65     64     87
2   2019-01-20     65     33     57     49     72     73     66     63     46
3   2019-01-27     49     52     65     44     71     50     55     55     62
4   2019-02-03     80     71     59     83     76     75     66     51     54
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     41     35     52     44     53     42     51     46     21
99  2020-11-29     52     29     51     37     51     50     51     61     29
100 2020-12-06     54     47     51     45     53     46     59     52     28
101 2020-12-13     80     36     66     70     63     50     59     42     36
102 2020-12-20     54     13     57     46     60     53     52     40     23

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     96     66     88     62     43     87     70     62     58     68
1    ...     45     64     71     58     55     71     75     60     56     45
2    ...     50     54     74     76     50     75     68     48     54     59
3    ...     29     61     65     66     54     68     58     36     48     30
4    ...     73     84     84     73     33     73     71     74     60     66
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     22     43     53     58     41     51     56     62     41     20
99   ...     44     36     56     62     29     51     60     40     44     26
100  ...     40     52     58     73     15     52     51     32     46     40
101  ...     59     55     82     66     42     61     54     53     54     47
102  ...     54     44     55     54     37     51     49     57     60     51

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     49    100     43     63     69     53     54     63     69
1   2019-01-13     73     72     49     80     89     55    100     89     89
2   2019-01-20     76     76     35     77     41     73     78     66     56
3   2019-01-27    100     82     41     73     78     58     88     86    100
4   2019-02-03     57     77     58     82     91     70     54     44     61
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     49     66     28     56     24     38     43     38     21
99  2020-11-29     58     61     27     60     23     34     55     42     29
100 2020-12-06     43     45     37     53     28     39     44     39     22
101 2020-12-13     53     51     29     82     32     45     99     80     43
102 2020-12-20     57     63     31     55     33     38     57     54     28

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     33     57     58     55     72     88     27     70     35     50
1    ...     57     66     75     63     95    100     23     88     44     54
2    ...     53     77     71     58    100     66     22     73     76     67
3    ...     83    100     77     45     85     92     29    100    100     58
4    ...     69     69     78     81     70     59    100     45     61     73
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     29     45     53     34     38     36     21     35     27     30
99   ...     27     57     60     27     48     46     19     50     22     43
100  ...     27     41     50     37     45     40     20     37     30     42
101  ...     30     53     65     58     67     79     25     76     28     47
102  ...     52     58     50     43     57     53     31     61     35     50

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     68     64     65     67     71     71     59     51     98
1   2019-01-13     69     59     63     66     67     63     60     55     99
2   2019-01-20     59     51     60     62     59     56     52     52     86
3   2019-01-27     67     57     58     63     65     63     55     61     87
4   2019-02-03     66     60     60     68     60     59     55     51     74
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     63     54     63     62     58     60     62     60     38
99  2020-11-29     60     47     57     62     54     57     52     56     47
100 2020-12-06     57     50     56     60     51     52     57     48     51
101 2020-12-13     58     52     55     60     58     58     56     53     45
102 2020-12-20     64     50     61     70     57     58     63     52     40

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     58     68     73     68     62     69     72     69     71     61
1    ...     75     70     69     64     54     69     70     58     66     52
2    ...     50     63     61     58     59     62     64     65     63     54
3    ...     74     67     65     71     52     65     61     57     70     56
4    ...     64     58     64     61     55     57     61     59     60     73
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     88     62     60     55     51     57     61     66     63     55
99   ...     62     64     58     53     60     57     60     62     64     51
100  ...     53     59     56     62     52     54     54     61     66     48
101  ...     75     62     61     64     38     55     60     60     67     79
102  ...     60     67     61     62     49     57     63     66     68     54

[103 rows x 52 columns]

ConnectionError: HTTPSConnectionPool(host='trends.google.com', port=443): Max retries exceeded with url: /trends/api/explore?hl=en-US&tz=360&req=%7B%22comparisonItem%22%3A+%5B%7B%22keyword%22%3A+%22%2A%22%2C+%22time%22%3A+%222019-01-01+2020-12-20%22%2C+%22geo%22%3A+%22US-MA%22%7D%5D%2C+%22category%22%3A+1097%2C+%22property%22%3A+%22%22%7D (Caused by NewConnectionError("<urllib3.connection.HTTPSConnection object at 0x7fa6c0b31970>: Failed to establish a new connection: [Errno 49] Can't assign requested address"))

In [18]:
for x in range(3, 4):
    per_top_cat_info_collector(x)
    #time.sleep(60)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     63     50     68     81     68     77     63     51     64
1   2019-01-13     86     74     73     80     71     69     69     57     78
2   2019-01-20     66     71     77     70     66     67     72     80     66
3   2019-01-27     66     67     65     65     62     74     57     67     76
4   2019-02-03     62     62     74     61     62     74     58     58     58
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     71     42     61     57     55     67     61     70     31
99  2020-11-29     72     75     62     72     53     62     58     63     44
100 2020-12-06     61     83     70     63     58     68     60     67     43
101 2020-12-13     68     66     66     64     54     67     55     62     33
102 2020-12-20     77     56     67     74     59     73     68     78     35

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     60     67     73     74     76     75     73     71     77     58
1    ...     72     81     79     72     83     79     84     90     69     87
2    ...     81     77     73     82     64     77     78     93     68     72
3    ...     92     71     69     67     76     66     71     66     66     68
4    ...     80     61     72     72     69     61     74     63     61     74
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     52     63     62     67     77     60     69     83     57     56
99   ...     59     59     64     65     56     54     62     67     55     48
100  ...     73     61     67     62     73     60     64     53     61     64
101  ...     55     65     65     57     67     63     69     76     59     57
102  ...     61     66     68     71     65     65     78     65     68     94

[103 rows x 52 columns]

In [19]:
for x in range(4, 8):
    per_top_cat_info_collector(x)
    #time.sleep(60)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     56     54     54     60     47     45     60     56     82
1   2019-01-13     60     92     46     40     42     41     47     44     84
2   2019-01-20     59     38     42     39     40     37     49     42     68
3   2019-01-27     45     60     44     55     47     40     59     43     92
4   2019-02-03     54     76     45     59     47     43     58     50     75
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     46     40     40     42     34     37     48     39     54
99  2020-11-29     47     53     39     49     36     36     45     42     64
100 2020-12-06     49     40     43     42     37     40     49     42     64
101 2020-12-13     56     41     50     51     41     45     47     52     59
102 2020-12-20     67     44     56     58     47     51     53     61     72

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     50     59     52     77     54     76     55     38     39     81
1    ...     52     56     51     55     60     77     47     42     39     42
2    ...     36     55     50     52     28     75     44     41     38     45
3    ...     48     55     52     61     55     81     49     44     33     26
4    ...     48     57     53     48     46     76     51     48     44     45
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     63     42     42     49     55     54     32     30     37     27
99   ...     47     48     45     52     41     54     39     35     40     53
100  ...     54     54     46     42     51     56     40     46     43     27
101  ...     44     47     52     60     40     64     52     53     44     27
102  ...     69     53     57     64     96     66     57     57     51     59

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06      0      0      0      0      0      0      0      0      2
1   2019-01-13      0      0      0      0      0      0      0      0      2
2   2019-01-20      0      0      0      0      0      0      0      0      2
3   2019-01-27      0      0      0      0      0      0      0      0      2
4   2019-02-03      0      0      0      0      0      0      0      0      3
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22      1      1      1      1      1      1      1      1      1
99  2020-11-29      1      1      1      1      1      1      1      1      2
100 2020-12-06      1      1      1      1      1      1      1      1      2
101 2020-12-13      1      1      1      1      1      1      1      1      2
102 2020-12-20      0      0      0      0      0      0      0      0      1

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...      0      0      0      0      0      0      0      0      0      0
1    ...      0      0      0      0      0      0      0      0      0      0
2    ...      0      0      0      0      0      0      0      0      0      0
3    ...      0      0      0      0      0      1      0      0      0      0
4    ...      0      0      0      0      0      1      0      0      0      0
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...      1      1      1      1      1      1      1      1      1      1
99   ...      0      1      1      1      1      1      1      1      1      1
100  ...      1      1      1      1      1      1      1      1      1      1
101  ...      1      1      1      1      1      1      1      1      1      1
102  ...      1      0      0      0      0      0      0      0      0      0

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     97     81     73     86     87     84     78     74     68
1   2019-01-13     94     83     77     88     88     94     84     83     75
2   2019-01-20     85     92     74     81     89     84     85     63     86
3   2019-01-27     86     89     73     73     85     86     80     80     82
4   2019-02-03     94    100     75     87     84     91     85     75     82
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     67     86     64     62     65     68     63     70     41
99  2020-11-29     70     73     66     66     68     73     66     76     44
100 2020-12-06     69     59     67     65     70     77     65     72     51
101 2020-12-13     76     73     65     65     71     77     63     78     54
102 2020-12-20     75     65     64     64     71     77     70     77     46

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     93     88     75     90     87     91     74    100     92     81
1    ...     94     87     79     75     88     98     75     83     85     75
2    ...     77     83     77     79     87     85     74     80     85     83
3    ...     85     85     79     84     85     85     76     85     85     78
4    ...     72     80     83     74     90     86     78     87     81     67
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     60     66     63     67     74     66     68     78     69     65
99   ...     76     74     70     69     55     73     72     74     68     65
100  ...     69     76     70     66     52     70     72     75     70     71
101  ...     86     70     72     65     69     72     76     78     70     68
102  ...     77     71     63     68     69     69     71     82     69     80

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     60     57     51     60     42     46     41     43     61
1   2019-01-13     67     61     54     70     41     39     39     54     48
2   2019-01-20     67     64     38     65     35     40     41     63     64
3   2019-01-27     64     51     38     65     38     42     41     74     79
4   2019-02-03     70     56     44     94     35     32     44     44     77
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     56     54     38     40     28     32     36     27     17
99  2020-11-29     52     53     44     47     29     30     42     37     37
100 2020-12-06     60     57     36     46     31     36     40     46     30
101 2020-12-13     45     43     46     55     28     37     43     44     24
102 2020-12-20     49     46     33     57     28     28     31     41     27

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     41     66     48     73     66     54     43     59     44     65
1    ...     60     65     48     41     42     47     38     66     50     79
2    ...     62     56     44     39     68     51     35     56     43     77
3    ...     58     57     48     56     57     46     32     52     47     82
4    ...     26     55     49     67     53     50     35     47     52     41
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     64     46     37     39     51     34     28     47     37     94
99   ...     72     42     41     46     47     36     32     59     36     81
100  ...     47     50     39     40     44     44     30     53     40     73
101  ...     60     40     40     47     44     40     28     49     36     49
102  ...     45     45     37     50     41     37     25     43     32     36

[103 rows x 52 columns]

In [ ]:
for x in range(8, 12):
    per_top_cat_info_collector(x)
    time.sleep(60)

In [ ]:
for x in range(12, 15):
    per_top_cat_info_collector(x)
    time.sleep(60)

In [14]:
for x in range(0, 5):
    per_cat_info_collector(x)
    time.sleep(2)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     80     80     98     96     98     97     93     95     91
1   2019-01-13     80     90     95     97     96     93     87     88     90
2   2019-01-20     75     79     95     94     88     93     88     82     89
3   2019-01-27     74     81     93     91     93     90     85     84     90
4   2019-02-03     76     82     95     92     89     92     87     86     93
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     65     71     85     78     74     78     78     80     47
99  2020-11-29     66     71     83     82     76     80     80     82     52
100 2020-12-06     67     68     90     83     78     84     80     84     54
101 2020-12-13     67     65     80     83     75     80     76     82     50
102 2020-12-20     72     76     88     89     81     85     85     91     49

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     93     83     91     98     93     97     99     91     96     92
1    ...     93     82     92     93     87     96     95     94     92     95
2    ...     91     79     91     92     89     96     93     90     85     89
3    ...     88     75     90     92     88     92     92     89     93     86
4    ...     93     77     91     93     88     90     93     89     93     93
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     81     68     79     79     74     74     82     83     79     79
99   ...     84     70     81     80     72     77     80     87     79     81
100  ...     82     71     83     81     76     80     82     85     80     84
101  ...     81     69     81     81     73     77     82     84     78     77
102  ...     87     74     84     86     87     84     89     86     84     88

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     71     73     75     73     82     66     78     65     79
1   2019-01-13     73     72     78     74     81     68     81     69     76
2   2019-01-20     73     68     77     71     78     66     75     73     72
3   2019-01-27     72     68     77     76     78     67     74     68     86
4   2019-02-03     74     65     76     77     79     70     80     77     84
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     66     58     68     67     68     56     72     72     49
99  2020-11-29     69     58     68     66     72     59     73     64     55
100 2020-12-06     69     57     68     69     70     59     76     71     55
101 2020-12-13     68     55     70     71     69     60     74     69     52
102 2020-12-20     66     53     68     71     69     60     74     69     44

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     62     68     73     64     69     77     70     76     66     63
1    ...     67     69     74     63     73     80     72     76     64     67
2    ...     65     68     71     62     68     77     69     71     61     67
3    ...     65     68     72     61     72     78     70     71     67     63
4    ...     60     70     73     64     74     76     72     76     64     68
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     55     62     63     55     60     64     60     64     55     63
99   ...     61     62     64     56     68     66     58     68     59     62
100  ...     55     63     66     58     60     66     58     70     59     57
101  ...     54     63     66     57     63     65     60     68     59     63
102  ...     60     61     67     57     60     64     61     66     56     57

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     76     79     89     88     95     97     87     78     95
1   2019-01-13     78     81     86     89     89     96     82     78     91
2   2019-01-20     73     85     83     86     90     94     84     75     87
3   2019-01-27     73     87     84     88     89     91     80     78     94
4   2019-02-03     77     77     86     88     88     91     81     76     92
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     64     62     76     76     73     75     75     73     54
99  2020-11-29     71     68     80     82     78     81     80     80     63
100 2020-12-06     68     62     75     82     76     79     78     82     65
101 2020-12-13     70     73     79     79     75     82     75     70     52
102 2020-12-20     74     66     82     82     77     82     85     73     53

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     89     83     87     96    100     98     91     93    100     95
1    ...     91     83     83     96     86     97     90     96     95     95
2    ...     90     78     84     89     82     95     86     86     80     90
3    ...     87     75     83     91     81     92     86     85     76     91
4    ...     90     76     88     91     80     92     79     82     80     83
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     81     67     77     77     69     75     72     75     73     74
99   ...     84     75     79     83     66     79     75     88     77     77
100  ...     77     72     78     82     68     79     72     85     74     84
101  ...     81     73     82     82     70     78     73     81     72     81
102  ...     74     73     82     82     73     81     73     80     73     77

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     73     90     77     82     80     82     85     74     70
1   2019-01-13     82     76     88     87     82     89     84     66     71
2   2019-01-20     82     85     82     81     79     83     75     67     75
3   2019-01-27     79     76     83     88     82     90     79     65     76
4   2019-02-03     84     95     87     88     81     86     76     68     78
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     48     40     57     50     51     54     52     50     30
99  2020-11-29     61     57     64     57     61     63     58     53     37
100 2020-12-06     61     49     67     59     63     68     63     65     37
101 2020-12-13     56     59     66     56     62     67     60     56     41
102 2020-12-20     49     55     56     49     51     55     55     56     32

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     95     84     76     94     89     83     83     85     89     83
1    ...     85     90     84     86     92     88     91     89     87     77
2    ...     88     89     82     86     81     82     87     89     76     80
3    ...     91     84     82     87     88     78     77     80     71     72
4    ...     77     90     84     81     86     78     74     92     82     74
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     55     56     52     64     62     49     57     58     56     55
99   ...     59     66     65     70     57     56     62     77     60     65
100  ...     59     70     68     71     58     62     68     72     64     55
101  ...     49     66     64     69     63     58     68     77     64     56
102  ...     50     53     50     58     56     47     59     64     55     54

[103 rows x 52 columns]

ResponseError: The request failed: Google returned a response with code 429.

In [16]:
print(cat_name_list[4])
cat_info_df_dict[cat_name_list[4]]

Business & Industrial

,time,US-AL,US-AK,US-AZ,US-AR,US-CA,US-CO,US-CT,US-DE,US-DC,...,US-SD,US-TN,US-TX,US-UT,US-VT,US-VA,US-WA,US-WV,US-WI,US-WY
0,2019-01-06,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-13,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-20,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-27,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-02-03,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2020-11-22,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2020-11-29,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2020-12-06,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2020-12-13,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,2020-12-20,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#based on above results for x=0-5, it seems the api allows 4 full api calls within a timeframe - attempt to place 4 calls per minute
for x in range(4, len(cat_name_list)):
    if (x % 4 == 0) & x > 4:
        time.sleep(60)
        per_cat_info_collector(x)
    else:
        per_cat_info_collector(x)

ResponseError: The request failed: Google returned a response with code 429.

In [60]:
us_overall_categories_df = pd.DataFrame(columns=columns_list)
us_overall_categories_df.head()

Empty DataFrame
Columns: [time, Arts & Entertainment, Autos & Vehicles, Beauty & Fitness, Books & Literature, Business & Industrial, Computers & Electronics, Finance, Food & Drink, Games, Health, Hobbies & Leisure, Home & Garden, Internet & Telecom, Jobs & Education, Law & Government, News, Online Communities, People & Society, Pets & Animals, Real Estate, Reference, Science, Shopping, Sports, Travel, Celebrities & Entertainment News, Comics & Animation, Entertainment Industry, Events & Listings, Fun & Trivia, Humor, Movies, Music & Audio, Offbeat, Online Media, Performing Arts, TV & Video, Visual Art & Design, Automotive Industry, Bicycles & Accessories, Boats & Watercraft, Campers & RVs, Classic Vehicles, Commercial Vehicles, Custom & Performance Vehicles, Hybrid & Alternative Vehicles, Microcars & City Cars, Motorcycles, Off-Road Vehicles, Personal Aircraft, Scooters & Mopeds, Trucks & SUVs, Vehicle Brands, Vehicle Codes & Driving Laws, Vehicle Licensing & Registration, Vehicle Maintenance, Vehicle Parts & Accessories, Vehicle Shopping, Vehicle Shows, Beauty Pageants, Body Art, Cosmetic Procedures, Cosmetology & Beauty Professionals, Face & Body Care, Fashion & Style, Fitness, Hair Care, Spas & Beauty Services, Weight Loss, Biographies & Quotations, Book Retailers, Children's Literature, E-Books, Fan Fiction, Literary Classics, Magazines, Poetry, Writers Resources, Advertising & Marketing, Aerospace & Defense, Agriculture & Forestry, Business Education, Business Finance, Business News, Business Operations, Business Services, Chemicals Industry, Construction & Maintenance, Energy & Utilities, Enterprise Technology, Hospitality Industry, Industrial Materials & Equipment, Manufacturing, Metals & Mining, Pharmaceuticals & Biotech, Printing & Publishing, Professional & Trade Associations, Retail Trade, Small Business, ...]
Index: []

[0 rows x 1133 columns]

In [80]:
kw_list = '*'
for x in range(0, 100):
    if x == 0:
        try:
            pytrends.build_payload(kw_list, cat=cat_list[x], timeframe='2019-01-01 2019-01-01', geo='US')
            us_cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            us_cat_interest_df.reset_index(level=0, inplace=True)
            us_overall_categories_df['time'] = us_cat_interest_df['date']
            us_overall_categories_df[f'{cat_name_list[x]}'] = us_cat_interest_df['*']
            time.sleep(6)
        except IndexError:
            print(f"problem with {cat_name_list[category_index_num]}")
    else:
        try:
            pytrends.build_payload(kw_list, cat=cat_list[x], timeframe='2019-01-01 2019-01-02', geo='US')
            us_cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            us_cat_interest_df.reset_index(level=0, inplace=True)
            us_overall_categories_df[f'{cat_name_list[x]}'] = us_cat_interest_df['*']
            time.sleep(6)
        except IndexError:
            print(f"problem with {cat_name_list[category_index_num]}")

In [90]:
us_overall_categories_df.iloc[:, 90:100]

,Enterprise Technology,Hospitality Industry,Industrial Materials & Equipment,Manufacturing,Metals & Mining,Pharmaceuticals & Biotech,Printing & Publishing,Professional & Trade Associations,Retail Trade,Small Business
0,63,100,68,55,74,39,82,62,100,79
1,100,65,100,100,100,100,100,100,98,100

In [ ]:
kw_list = '*'
def cat_cycle(y):
    for x in range(y, y+100):
        if x == 0:
            try:
                pytrends.build_payload(kw_list, cat=cat_list[x], timeframe='2019-01-01 2019-01-01', geo='US')
                us_cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
                us_cat_interest_df.reset_index(level=0, inplace=True)
                us_overall_categories_df['time'] = us_cat_interest_df['date']
                us_overall_categories_df[f'{cat_name_list[x]}'] = us_cat_interest_df['*']
                time.sleep(6)
            except IndexError:
                print(f"problem with {cat_name_list[category_index_num]}")
        else:
            try:
                pytrends.build_payload(kw_list, cat=cat_list[x], timeframe='2019-01-01 2019-01-01', geo='US')
                us_cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
                us_cat_interest_df.reset_index(level=0, inplace=True)
                us_overall_categories_df[f'{cat_name_list[x]}'] = us_cat_interest_df['*']
                time.sleep(6)
            except IndexError:
                print(f"problem with {cat_name_list[category_index_num]}")

In [ ]:
num_list = np.arange(0, 1200, 100)
for num in num_list:
    cat_cycle(num)
    time.sleep(3600)

In [30]:
us_overall_categories_df.head(10)

,time,Arts & Entertainment,Autos & Vehicles,Beauty & Fitness,Books & Literature,Business & Industrial,Computers & Electronics,Finance,Food & Drink,Games,...,DVD Players & Recorders,Audio Files Formats & Codecs,Fonts,Christmas,Easter,Adoption,Babies & Toddlers,Child Care,Youth Camps,Baby Care & Hygiene
0,2019-01-06,94,71,94,78,69,88,68,74,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-13,92,75,92,85,70,94,70,76,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-20,89,71,91,78,69,89,69,77,82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-27,89,73,91,77,70,90,78,74,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-02-03,89,76,93,81,68,90,83,76,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-02-10,95,72,90,83,70,90,81,78,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019-02-17,92,76,93,78,66,87,85,74,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-02-24,100,76,91,85,74,88,80,74,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2019-03-03,94,78,91,85,69,91,76,75,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2019-03-10,89,76,90,77,67,86,72,75,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN