In [1]:
# import dependencies, and pytrends
from pytrends.request import TrendReq
import pandas as pd
import time

pytrends = TrendReq()

In [2]:
#reading in the csv of all the categories
path = 'categories.csv'
categs_df = pd.read_csv(path)
categs_df.head()

                category  category_id
0   Arts & Entertainment            3
1       Autos & Vehicles           47
2       Beauty & Fitness           44
3     Books & Literature           22
4  Business & Industrial           12

In [3]:
#reading in the csv of the state abbreviations
states_path = 'statesAbbrev.csv'
states_abbrev_df = pd.read_csv(states_path)
states_abbrev_df.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [4]:
#creating a list of the state abbreviations with the country code added in
abbrev_list = [f"US-{x}" for x in states_abbrev_df['Code']]
len(abbrev_list)

51

In [19]:
abbrev_list

['US-AL',
 'US-AK',
 'US-AZ',
 'US-AR',
 'US-CA',
 'US-CO',
 'US-CT',
 'US-DE',
 'US-DC',
 'US-FL',
 'US-GA',
 'US-HI',
 'US-ID',
 'US-IL',
 'US-IN',
 'US-IA',
 'US-KS',
 'US-KY',
 'US-LA',
 'US-ME',
 'US-MD',
 'US-MA',
 'US-MI',
 'US-MN',
 'US-MS',
 'US-MO',
 'US-MT',
 'US-NE',
 'US-NV',
 'US-NH',
 'US-NJ',
 'US-NM',
 'US-NY',
 'US-NC',
 'US-ND',
 'US-OH',
 'US-OK',
 'US-OR',
 'US-PA',
 'US-RI',
 'US-SC',
 'US-SD',
 'US-TN',
 'US-TX',
 'US-UT',
 'US-VT',
 'US-VA',
 'US-WA',
 'US-WV',
 'US-WI',
 'US-WY']

In [5]:
#creating a list for all the category ids
cat_list = [x for x in categs_df['category_id']]

In [6]:
#creating a list for all the category names
cat_name_list = [x for x in categs_df['category']]

In [7]:
#creating list of columns to go into each state's df
columns_list = ['time'] + cat_name_list
#columns_list

In [8]:
#creating a dict to hold all the different state info on all the categories
statesinfo_df_dict = {}
for state in abbrev_list:
    statesinfo_df_dict[state] = pd.DataFrame(columns=columns_list)

In [24]:
#checking length of dict: should be same as len of abbrev_list
len(statesinfo_df_dict)

51

In [ ]:
#printing a test df for one state
#print(abbrev_list[27])
#statesinfo_df_dict[abbrev_list[27]]

In [25]:
#kw_list = '*'

#def per_state_info_collector(state):
    #for x in range(0, len(cat_name_list)):
        #try:
            #pytrends.build_payload(kw_list, cat=cat_list[x], timeframe='2019-01-01 2020-12-20', geo=state)
            #state_interest_df = pd.DataFrame(pytrends.interest_over_time())
            #state_interest_df.reset_index(level=0, inplace=True)
            #statesinfo_df_dict[state]['time'] = state_interest_df['date']
            #statesinfo_df_dict[state][f'{cat_name_list[x]}'] = state_interest_df['*']
            #output_path = f'google_trends_csvs/{state}_categs.csv'
            #statesinfo_df_dict[state].to_csv(output_path, index=False)
            #time.sleep(5)
        #except IndexError:
            #print(f"problem with {cat_name_list[x]}")

In [ ]:
#trying the function on one state
#per_state_info_collector("US-AL")
#statesinfo_df_dict['US-AL']

In [9]:
#attempting process per category instead of per state
#creating list of columns to go into each category's df
state_columns_list = ['time'] + abbrev_list

In [10]:
#creating a dict to hold all the different category info for all the states
cat_info_df_dict = {}
for cat in cat_name_list:
    cat_info_df_dict[cat] = pd.DataFrame(columns=state_columns_list)

In [ ]:
#checking length of dict: should be same as len of cat_name_list
len(cat_info_df_dict)

In [63]:
#printing a test df for one category
print(cat_name_list[32])
cat_info_df_dict[cat_name_list[32]]

Music & Audio

Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]

In [34]:
#function to get all data on a category for the states
kw_list = '*'

def per_cat_info_collector(category_index_num):
    for x in range(0, len(abbrev_list)):
        try:
            pytrends.build_payload(kw_list, cat=cat_list[category_index_num], timeframe='2019-01-01 2020-12-20', geo=abbrev_list[x])
            cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            cat_interest_df.reset_index(level=0, inplace=True)
            #global cat_info_df_dict
            cat_info_df_dict[cat_name_list[category_index_num]]['time'] = cat_interest_df['date']
            cat_info_df_dict[cat_name_list[category_index_num]][f'{abbrev_list[x]}'] = cat_interest_df['*']
            time.sleep(6)
        except IndexError:
            print(f"problem with {cat_name_list[category_index_num]}")
    print(cat_info_df_dict[cat_name_list[category_index_num]])
    cat_info_df_dict[cat_name_list[category_index_num]]
    output_path = f'google_trends_csvs/{cat_name_list[category_index_num]}_states.csv'
    cat_info_df_dict[cat_name_list[category_index_num]].to_csv(output_path, index=False)

In [27]:
def save_csv(category_index_num):
    output_path = f'google_trends_csvs/{cat_name_list[category_index_num]}_states.csv'
    #print(output_path)
    cat_info_df_dict[cat_name_list[category_index_num]].to_csv(output_path, index=False)
    #print(cat_info_df_dict[cat_name_list[category_index_num]])

In [14]:
for x in range(0, 5):
    per_cat_info_collector(x)
    time.sleep(2)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     80     80     98     96     98     97     93     95     91
1   2019-01-13     80     90     95     97     96     93     87     88     90
2   2019-01-20     75     79     95     94     88     93     88     82     89
3   2019-01-27     74     81     93     91     93     90     85     84     90
4   2019-02-03     76     82     95     92     89     92     87     86     93
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     65     71     85     78     74     78     78     80     47
99  2020-11-29     66     71     83     82     76     80     80     82     52
100 2020-12-06     67     68     90     83     78     84     80     84     54
101 2020-12-13     67     65     80     83     75     80     76     82     50
102 2020-12-20     72     76     88     89     81     85     85     91     49

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     93     83     91     98     93     97     99     91     96     92
1    ...     93     82     92     93     87     96     95     94     92     95
2    ...     91     79     91     92     89     96     93     90     85     89
3    ...     88     75     90     92     88     92     92     89     93     86
4    ...     93     77     91     93     88     90     93     89     93     93
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     81     68     79     79     74     74     82     83     79     79
99   ...     84     70     81     80     72     77     80     87     79     81
100  ...     82     71     83     81     76     80     82     85     80     84
101  ...     81     69     81     81     73     77     82     84     78     77
102  ...     87     74     84     86     87     84     89     86     84     88

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     71     73     75     73     82     66     78     65     79
1   2019-01-13     73     72     78     74     81     68     81     69     76
2   2019-01-20     73     68     77     71     78     66     75     73     72
3   2019-01-27     72     68     77     76     78     67     74     68     86
4   2019-02-03     74     65     76     77     79     70     80     77     84
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     66     58     68     67     68     56     72     72     49
99  2020-11-29     69     58     68     66     72     59     73     64     55
100 2020-12-06     69     57     68     69     70     59     76     71     55
101 2020-12-13     68     55     70     71     69     60     74     69     52
102 2020-12-20     66     53     68     71     69     60     74     69     44

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     62     68     73     64     69     77     70     76     66     63
1    ...     67     69     74     63     73     80     72     76     64     67
2    ...     65     68     71     62     68     77     69     71     61     67
3    ...     65     68     72     61     72     78     70     71     67     63
4    ...     60     70     73     64     74     76     72     76     64     68
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     55     62     63     55     60     64     60     64     55     63
99   ...     61     62     64     56     68     66     58     68     59     62
100  ...     55     63     66     58     60     66     58     70     59     57
101  ...     54     63     66     57     63     65     60     68     59     63
102  ...     60     61     67     57     60     64     61     66     56     57

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     76     79     89     88     95     97     87     78     95
1   2019-01-13     78     81     86     89     89     96     82     78     91
2   2019-01-20     73     85     83     86     90     94     84     75     87
3   2019-01-27     73     87     84     88     89     91     80     78     94
4   2019-02-03     77     77     86     88     88     91     81     76     92
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     64     62     76     76     73     75     75     73     54
99  2020-11-29     71     68     80     82     78     81     80     80     63
100 2020-12-06     68     62     75     82     76     79     78     82     65
101 2020-12-13     70     73     79     79     75     82     75     70     52
102 2020-12-20     74     66     82     82     77     82     85     73     53

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     89     83     87     96    100     98     91     93    100     95
1    ...     91     83     83     96     86     97     90     96     95     95
2    ...     90     78     84     89     82     95     86     86     80     90
3    ...     87     75     83     91     81     92     86     85     76     91
4    ...     90     76     88     91     80     92     79     82     80     83
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     81     67     77     77     69     75     72     75     73     74
99   ...     84     75     79     83     66     79     75     88     77     77
100  ...     77     72     78     82     68     79     72     85     74     84
101  ...     81     73     82     82     70     78     73     81     72     81
102  ...     74     73     82     82     73     81     73     80     73     77

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     73     90     77     82     80     82     85     74     70
1   2019-01-13     82     76     88     87     82     89     84     66     71
2   2019-01-20     82     85     82     81     79     83     75     67     75
3   2019-01-27     79     76     83     88     82     90     79     65     76
4   2019-02-03     84     95     87     88     81     86     76     68     78
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     48     40     57     50     51     54     52     50     30
99  2020-11-29     61     57     64     57     61     63     58     53     37
100 2020-12-06     61     49     67     59     63     68     63     65     37
101 2020-12-13     56     59     66     56     62     67     60     56     41
102 2020-12-20     49     55     56     49     51     55     55     56     32

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     95     84     76     94     89     83     83     85     89     83
1    ...     85     90     84     86     92     88     91     89     87     77
2    ...     88     89     82     86     81     82     87     89     76     80
3    ...     91     84     82     87     88     78     77     80     71     72
4    ...     77     90     84     81     86     78     74     92     82     74
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     55     56     52     64     62     49     57     58     56     55
99   ...     59     66     65     70     57     56     62     77     60     65
100  ...     59     70     68     71     58     62     68     72     64     55
101  ...     49     66     64     69     63     58     68     77     64     56
102  ...     50     53     50     58     56     47     59     64     55     54

[103 rows x 52 columns]

ResponseError: The request failed: Google returned a response with code 429.

In [16]:
print(cat_name_list[4])
cat_info_df_dict[cat_name_list[4]]

Business & Industrial

,time,US-AL,US-AK,US-AZ,US-AR,US-CA,US-CO,US-CT,US-DE,US-DC,...,US-SD,US-TN,US-TX,US-UT,US-VT,US-VA,US-WA,US-WV,US-WI,US-WY
0,2019-01-06,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-13,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-20,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-27,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-02-03,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2020-11-22,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2020-11-29,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2020-12-06,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2020-12-13,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,2020-12-20,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#based on above results for x=0-5, it seems the api allows 4 full api calls within a timeframe - attempt to place 4 calls per hour
for x in range(4, len(cat_name_list):
    if (x % 4 == 0) & x > 4:
        time.sleep(60)
        per_cat_info_collector(x)
    else:
        per_cat_info_collector(x)

In [ ]:
#attempting to get all data at once: y for index nums of categories, x for state names
#kw_list = '*'
#for y in range(0, len(cat_name_list)):
    #print(cat_name_list[y])
    #for x in range(0, len(abbrev_list)):
        #try:
            #pytrends.build_payload(kw_list, cat=cat_list[y], timeframe='2019-01-01 2020-12-20', geo=abbrev_list[x])
            #state_interest_df = pd.DataFrame(pytrends.interest_over_time())
            #state_interest_df.reset_index(level=0, inplace=True)
            #df_dict[cat_name_list[y]]['time'] = state_interest_df['date']
            #df_dict[cat_name_list[y]][f'{abbrev_list[x]}'] = state_interest_df['*']
        #except IndexError:
            #print(f"problem with {cat_name_list[x]}")