In [38]:
# import dependencies, and pytrends
from pytrends.request import TrendReq
import pandas as pd
import time
import numpy as np

pytrends = TrendReq()

In [39]:
#reading in the csv of the state abbreviations
states_path = 'statesAbbrev.csv'
states_abbrev_df = pd.read_csv(states_path)
states_abbrev_df.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [40]:
#creating a list of the state abbreviations with the country code added in
abbrev_list = [f"US-{x}" for x in states_abbrev_df['Code']]
len(abbrev_list)

51

In [50]:
state_names_list = [x for x in states_abbrev_df['State']]

In [51]:
states_and_abbrevs_dict = {
    'state_name': state_names_list,
    'state_abbrev': abbrev_list
}

In [52]:
states_and_abbrevs_df = pd.DataFrame(states_and_abbrevs_dict)

In [54]:
output_path = 'statesUSAbbrevs.csv'
states_and_abbrevs_df.to_csv(output_path, index=False)

In [41]:
#attempting process per category instead of per state
#creating list of columns to go into each category's df
state_columns_list = ['time'] + abbrev_list

In [42]:
path = 'top_cats.csv'
top_cats_df = pd.read_csv(path)
top_cats_df

                               cat_name  cat_index
0                           Sports News       1077
1                               Weather         63
2      Celebrities & Entertainment News        184
3              Action & Adventure Films       1097
4                 Lottery & Sweepstakes        364
5                 Campaigns & Elections        398
6                          Online Video        211
7                       Law Enforcement        535
8             TV Sci-Fi & Fantasy Shows       1112
9                          Smart Phones       1071
10                  Infectious Diseases        632
11                   Voice & Video Chat        386
12                     Sony PlayStation       1044
13                          Health News       1253
14  Discrimination & Identity Relations       1205

In [43]:
cat_names_list = [x for x in top_cats_df['cat_name']]
cat_index_list = [x for x in top_cats_df['cat_index']]

In [44]:
#creating a dict to hold all the different top category info for all the states
top_cat_info_df_dict = {}
for cat in cat_names_list:
    top_cat_info_df_dict[cat] = pd.DataFrame(columns=state_columns_list)

In [45]:
#test printing a df
top_cat_info_df_dict['Sports News']

Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]

In [46]:
len(top_cat_info_df_dict)

15

In [47]:
kw_list = '*'

def per_top_cat_info_collector(category_index_num):
    for x in range(0, len(abbrev_list)):
        try:
            pytrends.build_payload(kw_list, cat=cat_index_list[category_index_num], timeframe='2019-01-01 2020-12-20', geo=abbrev_list[x])
            cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            cat_interest_df.reset_index(level=0, inplace=True)
            top_cat_info_df_dict[cat_names_list[category_index_num]]['time'] = cat_interest_df['date']
            top_cat_info_df_dict[cat_names_list[category_index_num]][f'{abbrev_list[x]}'] = cat_interest_df['*']
            time.sleep(6)
        except (IndexError, KeyError):
            print(f"problem with {cat_names_list[category_index_num]}")
            continue
    print(top_cat_info_df_dict[cat_names_list[category_index_num]])
    top_cat_info_df_dict[cat_names_list[category_index_num]]
    output_path = f'google_trends_csvs/top_trends/{cat_names_list[category_index_num]}_states.csv'
    top_cat_info_df_dict[cat_names_list[category_index_num]].to_csv(output_path, index=False)

In [48]:
for x in range(0, 4):
    per_top_cat_info_collector(x)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     59     54     69     56     87     76     54     79     48
1   2019-01-13     58     66     61     69     74     60     68     47     81
2   2019-01-20     51     18     58     52     71     65     52     36     43
3   2019-01-27     53     48     54     56     74     58     74     44     53
4   2019-02-03     82     53     59     73     73     65     62     38     40
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     43      5     42     43     51     44     64     54     18
99  2020-11-29     43     36     45     62     50     48     46     28     29
100 2020-12-06     48      5     50     38     54     58     50     43     28
101 2020-12-13     69     21     58     64     60     55     43     37     26
102 2020-12-20     50     41     57     31     52     46     43     41     25

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     70     59     81     65     48     86     69     62     54     26
1    ...     48     65     75     66     77     72     72     53     55     32
2    ...     34     62     77     55     52     69     54     49     50     50
3    ...     26     47     66     54     35     70     65     36     49     25
4    ...     72     86     90     73     29     79     67     82     52     50
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     34     43     53     55     31     50     52     66     41     22
99   ...     37     46     59     53     41     50     52     53     38     22
100  ...     38     49     61     63     21     48     47     52     38     28
101  ...     35     59     77     67     37     59     53     70     47     23
102  ...     34     47     59     59     34     46     50     46     54     31

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     48     97     45     63     66     56     51     70     68
1   2019-01-13     66     75     52     81     82     48    100     95     90
2   2019-01-20     72     68     34     75     37     67     76     65     50
3   2019-01-27    100     68     42     68     75     55     87    100    100
4   2019-02-03     54     74     57     80     88     71     50     52     61
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     44     60     28     51     23     36     42     38     20
99  2020-11-29     54     60     26     57     21     35     53     42     27
100 2020-12-06     41     52     38     52     26     40     43     39     19
101 2020-12-13     53     53     31     76     30     47     94     81     44
102 2020-12-20     55     59     30     53     32     37     55     56     26

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     30     54     59     57     73     91     27     66     34     47
1    ...     57     64     73     66     91    100     25     88     41     56
2    ...     56     77     73     58    100     65     22     74     73     65
3    ...     76    100     74     53     83     93     31    100    100     54
4    ...     63     68     77     91     67     60    100     56     59     78
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     23     43     56     36     40     38     20     43     26     27
99   ...     25     56     58     29     46     49     19     54     21     36
100  ...     24     41     49     40     40     44     21     37     26     39
101  ...     28     53     63     62     65     80     26     73     26     47
102  ...     50     61     52     46     50     54     32     63     34     44

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     67     72     67     70     71     68     69     62     96
1   2019-01-13     67     65     63     65     66     64     71     65     83
2   2019-01-20     57     61     58     70     58     57     65     51     81
3   2019-01-27     60     59     60     72     63     64     62     63     93
4   2019-02-03     64     64     60     64     60     55     59     47     85
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     66     67     63     62     57     61     55     61     55
99  2020-11-29     57     58     61     63     54     57     58     52     49
100 2020-12-06     56     53     57     62     51     57     53     50     44
101 2020-12-13     57     68     56     63     56     59     55     54     50
102 2020-12-20     63     94     65     67     57     60     66     51     46

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     74     69     71     57     64     72     69     56     74     78
1    ...     63     70     65     58     61     71     64     69     72     65
2    ...     53     64     61     57     67     68     60     59     62     80
3    ...     78     66     64     64     49     66     60     65     72     65
4    ...     54     61     63     58     42     59     63     60     65     77
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     69     62     58     57     57     62     59     61     67     51
99   ...     65     62     55     51     45     57     57     60     65     59
100  ...     67     60     54     49     46     55     55     63     58     67
101  ...     62     60     55     59     60     58     61     52     69     78
102  ...     72     65     61     57     61     62     62     77     68     63

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     60     49     64     74     70     77     64     61     70
1   2019-01-13     72     56     75     64     72     70     70     80     82
2   2019-01-20     67     74     66     69     67     70     61     61     64
3   2019-01-27     68     48     67     58     65     66     59     60     77
4   2019-02-03     58     69     63     66     61     68     56     71     63
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     65     46     63     59     56     66     63     77     36
99  2020-11-29     57     49     57     73     52     58     68     74     38
100 2020-12-06     59     67     64     68     55     70     60     81     49
101 2020-12-13     60     51     63     70     54     61     52     78     43
102 2020-12-20     67     59     61     76     61     75     63     90     40

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     90     62     72     57     58     72     69     86     69     72
1    ...     78     71     77     71     62     83     73     66     73     44
2    ...     70     75     73     72     62     78     72     78     70     54
3    ...    100     62     70     53     42     71     69     62     66     60
4    ...     69     63     70     70     47     61     72     71     66     39
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     65     68     60     64     46     52     60     61     59     42
99   ...     62     62     60     56     46     59     63     54     60     58
100  ...     49     61     67     55     46     56     64     55     62     51
101  ...     51     67     63     57     59     61     63     61     54     75
102  ...     73     72     69     71     70     66     74     81     72     57

[103 rows x 52 columns]

In [49]:
for x in range(4, 8):
    per_top_cat_info_collector(x)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     52     23     48     50     50     39     54     60     73
1   2019-01-13     45     53     46     39     45     38     48     61     76
2   2019-01-20     49     23     41     46     43     35     45     55     58
3   2019-01-27     44     76     48     57     48     37     57     45     79
4   2019-02-03     48     69     48     56     48     32     50     45     74
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     42     27     37     40     35     33     43     55     51
99  2020-11-29     45     40     40     33     37     38     41     42     52
100 2020-12-06     45     68     38     35     38     38     46     47     47
101 2020-12-13     46     76     44     41     43     43     47     49     62
102 2020-12-20     55     59     56     48     45     50     54     63     61

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     51     55     53     63     54     89     49     52     40     70
1    ...     51     56     53     52     41     84     40     40     41     60
2    ...     52     56     53     43     55     92     41     45     33     76
3    ...     32     55     52     49     60     95     47     44     33     34
4    ...     41     54     55     49     42     81     39     44     33     68
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     41     41     43     45     49     58     36     39     37     41
99   ...     35     46     47     45     56     64     35     47     36     56
100  ...     39     45     48     47     59     67     35     56     40     34
101  ...     34     51     53     46     50     70     45     48     42     19
102  ...     47     52     61     64     85     76     46     51     51     71

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06      0      0      0      0      0      0      0      0      2
1   2019-01-13      0      0      0      0      0      0      0      0      2
2   2019-01-20      0      0      0      0      0      0      0      0      2
3   2019-01-27      0      0      0      0      0      0      0      0      3
4   2019-02-03      0      0      0      0      0      0      0      0      3
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22      1      1      1      1      1      1      1      1      1
99  2020-11-29      1      1      1      1      1      1      1      1      1
100 2020-12-06      1      1      1      1      1      1      1      1      2
101 2020-12-13      1      1      1      1      1      1      1      1      2
102 2020-12-20      0      0      0      0      0      0      0      0      1

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...      0      0      0      0      0      0      0      0      0      0
1    ...      0      0      0      0      0      0      0      0      0      0
2    ...      0      0      0      0      0      0      0      0      0      0
3    ...      0      0      0      0      0      1      0      0      0      0
4    ...      0      0      0      0      1      1      0      0      0      0
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...      1      1      1      1      1      1      1      1      1      1
99   ...      1      1      1      1      1      1      1      1      1      1
100  ...      0      1      1      1      1      1      1      1      1      1
101  ...      1      1      1      1      1      1      1      1      1      1
102  ...      0      0      0      0      0      0      0      0      0      0

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     92     80     77     84     84     88     79     81     78
1   2019-01-13     84     98     81     88     86     90     91     92     82
2   2019-01-20     91     82     82     85     83     85     80    100     72
3   2019-01-27     79     75     78     78     82     87     85     68     83
4   2019-02-03     82     93     75     90     81     88     80     82     73
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     65     64     68     63     62     67     68     69     45
99  2020-11-29     67     63     70     64     67     75     66     67     56
100 2020-12-06     65     60     70     65     68     77     66     69     52
101 2020-12-13     73     75     67     70     68     71     67     81     54
102 2020-12-20     71     72     70     70     69     77     70     72     53

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     86     94     77     85     91     88     76     82     91     82
1    ...    100     88     79     84     88     93     77     93     80     83
2    ...     83     86     75     74     71     89     73     88     82     84
3    ...     74     91     78     75     95     90     77     85     83     70
4    ...     75     86     79     73     85     81     74     91     83     88
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     60     71     61     70     69     67     66     67     69     76
99   ...     68     75     67     77     77     70     69     85     69     69
100  ...     64     74     68     69     69     71     68     88     69     73
101  ...     83     77     69     73     69     80     76     79     68     61
102  ...     78     73     67     73     84     72     68     83     76     63

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     54     61     44     73     41     53     51     77     61
1   2019-01-13     63     83     51     63     39     48     37     46     64
2   2019-01-20     53     51     41     69     36     48     49     36     51
3   2019-01-27     56     43     47     71     41     50     49     37     60
4   2019-02-03     53     72     34     70     34     48     41     38     60
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     44     31     32     51     27     38     38     26     24
99  2020-11-29     42     49     36     50     29     41     36     34     29
100 2020-12-06     56     38     40     51     32     47     45     33     23
101 2020-12-13     53     54     36     60     30     43     39     54     24
102 2020-12-20     48     34     37     44     28     36     36     38     19

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     70     65     55     66     59     46     40     52     54     35
1    ...     49     65     57     62     39     56     40     59     47     49
2    ...     62     52     49     42     41     45     37     67     46     52
3    ...     52     65     55     47     84     47     37     48     58     75
4    ...     49     60     52     52     41     41     39     53     67     30
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     55     44     45     36     37     32     37     34     42     63
99   ...     46     55     41     40     42     42     32     52     45     66
100  ...     56     57     45     38     26     43     32     52     47     37
101  ...     65     52     42     45     35     35     30     45     45     41
102  ...     42     57     43     32     47     35     32     35     45     48

[103 rows x 52 columns]

In [56]:
for x in range(8, 12):
    per_top_cat_info_collector(x)

problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
problem with TV Sci-Fi & Fantasy Shows
Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
problem with Smart Phones
Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     11      8      8     16     10      8     11     14     12
1   2019-01-13     10     14      8     11      9      9     12      7     10
2   2019-01-20     10     12      8     12      9      8      9      8     11
3   2019-01-27     13     14      9     14     10      9     12     12     11
4   2019-02-03     14     12      9     14     11      9     11     12     15
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     11     11     14     12     13     12     13     14     10
99  2020-11-29     14     16     16     16     16     13     16     16     14
100 2020-12-06     15     17     19     19     18     15     18     22     16
101 2020-12-13     17     29     21     18     21     17     21     23     16
102 2020-12-20     15     21     17     21     20     14     19     18     15

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...      9     12     11     11     10      9     10     10      7     11
1    ...     11     10     11     12      7      9     11     11      7      9
2    ...     11     11     11     10      9      9     14     11      7      7
3    ...     11     12     14     14      9     10     20     11      7     12
4    ...     16     13     15     13      9     10     13     14      7     11
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     13     13     13     12     13     11     14     15     11     15
99   ...     16     15     16     12     14     12     15     16     13     13
100  ...     17     17     18     16     17     17     17     19     12     11
101  ...     16     19     20     18     17     17     20     23     15     18
102  ...     17     16     19     17     17     14     16     18     13     17

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     45     42     61     52     64     47     44     47     23
1   2019-01-13     44     56     45     52     59     55     38     15     56
2   2019-01-20     50     68     73     65     51     51     30     30     45
3   2019-01-27     46     69     73     66     67     87     47    100     74
4   2019-02-03     48     27     47     87     62     73     48     38     52
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     39     49     44     45     38     30     25     27      7
99  2020-11-29     57     72     55     67     56     64     52     67     26
100 2020-12-06     54     12     57     55     54     51     36     34     30
101 2020-12-13     57     50     61     79     55     68     42     55     24
102 2020-12-20     28     14     38     36     34     38     31     30     15

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     10     51     64     26      8     51     62     50     27      0
1    ...     29     51     59     26     32     52     55     47     42     36
2    ...     48     68     57     31     24     42     34     46     36     12
3    ...     57     51     68     57     48     55     46     47     44      0
4    ...     58     45     67     53     24     56     69     38     35     36
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...      8     37     44     40     43     29     35     56     29      0
99   ...     42     75     68     57     28     59     46     96     59     42
100  ...     52     64     61     73     21     49     52     63     42     32
101  ...     95     80     71     48     29     56     52     59     61     43
102  ...     37     36     46     36     31     25     37     78     18     35

[103 rows x 52 columns]

In [68]:
for x in range(12, 15):
    per_top_cat_info_collector(x)

problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
problem with Sony PlayStation
Empty DataFrame
Columns: [time, US-AL, US-AK, US-AZ, US-AR, US-CA, US-CO, US-CT, US-DE, US-DC, US-FL, US-GA, US-HI, US-ID, US-IL, US-IN, US-IA, US-KS, US-KY, US-LA, US-ME, US-MD, US-MA, US-MI, US-MN, US-MS, US-MO, US-MT, US-NE, US-NV, US-NH, US-NJ, US-NM, US-NY, US-NC, US-ND, US-OH, US-OK, US-OR, US-PA, US-RI, US-SC, US-SD, US-TN, US-TX, US-UT, US-VT, US-VA, US-WA, US-WV, US-WI, US-WY]
Index: []

[0 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     30     54    100     81     70     54     48     45     40
1   2019-01-13     57     41     58     16     60     59     44     27     62
2   2019-01-20     50      0     82     68     57     70     60     26     72
3   2019-01-27     39      0     38     32     68     99     37     62     56
4   2019-02-03     73     53     38     42     56     75     39     26     88
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     18     24     28     33     37     25     45     24     20
99  2020-11-29     57     23     19     28     64     64     63     46     39
100 2020-12-06     39     12     34     33     57     65     49     63     10
101 2020-12-13     53     12     33     48     54     64     51     32     25
102 2020-12-20     29     26     28     47     45     30     50      9     22

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     40     43     59     46      0     56     73     57     49     60
1    ...     52     40     82     34     10     63     68     21     62     20
2    ...     51     57     67     37     10     64     53     34     38     59
3    ...      0     58     84     56     39     47     66     28     36     79
4    ...     13     43     68     41     40     69     66     42     49     78
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     34     35     49     23     44     45     34     24     35     17
99   ...     91     39     68     63     26     68     69     37     50     34
100  ...     12     36     78     43      9     47     54     25     44     18
101  ...     46     50     76     61     27     59     63     50     41      0
102  ...     25     30     47     26     29     45     37     27     26      0

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     12     10     22     15     24     11     17     25     66
1   2019-01-13     13     29     27     24     27     24     23     33     40
2   2019-01-20     17     29     30     27     29     20     24     12     42
3   2019-01-27     24     39     24     14     32     25     25     28     42
4   2019-02-03     12      9     30     22     25     28     27     28     55
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     12     43     16      7     16     11     20     18     22
99  2020-11-29     13      8     13      8     17     20     15     32     22
100 2020-12-06     12     26     14      4     20     13     14     29     15
101 2020-12-13     16      0     11     20     16     12     21     22     21
102 2020-12-20     12     19     12      5     14     10     16     12     15

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     32     17     21     20     14     27     17     27     20      9
1    ...     39     20     23     29     14     28     24     12     23      0
2    ...      8     20     22     32     27     27     25     24     22      0
3    ...      8     21     26     32     21     26     21     15     24      0
4    ...     23     20     28     27     41     35     26     15     26     25
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     48     14     15     22     31     16     15      8     24     15
99   ...     14     17     17     19     18     18     16     21     18     29
100  ...     49     16     19     12      6     23     16     11     19      7
101  ...      7     15     19     27     12     16     19     16     20     15
102  ...     15     11     12      9      0     16     13     12     17     25

[103 rows x 52 columns]

In [69]:
path = 'alt_top_cats.csv'
alt_top_cats_df = pd.read_csv(path)
alt_top_cats_df

                alt_cat_name  alt_cat_index
0        TV Shows & Programs            358
1              Mobile Phones            390
2    Game Systems & Consoles            899
3  Science Fiction & Fantasy            676
4                TV Comedies           1047
5                  TV Dramas           1193
6   TV Family-Oriented Shows           1110
7              TV Game Shows           1050
8           TV Reality Shows           1049
9              TV Talk Shows           1048

In [70]:
alt_cat_names_list = [x for x in alt_top_cats_df['alt_cat_name']]
alt_cat_index_list = [x for x in alt_top_cats_df['alt_cat_index']]

In [71]:
alt_top_cat_info_df_dict = {}
for cat in alt_cat_names_list:
    alt_top_cat_info_df_dict[cat] = pd.DataFrame(columns=state_columns_list)

In [72]:
kw_list = '*'

def alt_per_top_cat_info_collector(category_index_num):
    for x in range(0, len(abbrev_list)):
        try:
            pytrends.build_payload(kw_list, cat=alt_cat_index_list[category_index_num], timeframe='2019-01-01 2020-12-20', geo=abbrev_list[x])
            cat_interest_df = pd.DataFrame(pytrends.interest_over_time())
            cat_interest_df.reset_index(level=0, inplace=True)
            alt_top_cat_info_df_dict[alt_cat_names_list[category_index_num]]['time'] = cat_interest_df['date']
            alt_top_cat_info_df_dict[alt_cat_names_list[category_index_num]][f'{abbrev_list[x]}'] = cat_interest_df['*']
            time.sleep(10)
        except (IndexError, KeyError):
            print(f"problem with {alt_cat_names_list[category_index_num]}")
            continue
    print(alt_top_cat_info_df_dict[alt_cat_names_list[category_index_num]])
    alt_top_cat_info_df_dict[alt_cat_names_list[category_index_num]]
    output_path = f'google_trends_csvs/top_trends/{alt_cat_names_list[category_index_num]}_states.csv'
    alt_top_cat_info_df_dict[alt_cat_names_list[category_index_num]].to_csv(output_path, index=False)

In [73]:
for x in range(0, 4):
    alt_per_top_cat_info_collector(x)

          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     81     76     91     80     92     88     89     85     77
1   2019-01-13     84     78     93     88     88     83     83     80     80
2   2019-01-20     78     78     87     79     87     89     84     74     87
3   2019-01-27     80     72     85     78     85     87     83     73     91
4   2019-02-03     82     69     86     79     85     84     79     75     81
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     68     66     82     65     73     74     76     79     46
99  2020-11-29     65     53     81     67     72     80     73     76     43
100 2020-12-06     71     69     81     68     74     83     78     80     56
101 2020-12-13     67     70     80     69     73     77     74     77     46
102 2020-12-20     71     79     82     76     85     91     88     80     51

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...    100     86     84     91    100     87     90     97     93     72
1    ...     99     83     83     88     92     91     85     91     87     94
2    ...     88     82     84     85     87     89     90     83     83     82
3    ...     75     83     79     81     76     86     82     81     94     85
4    ...     83     84     86     86     79     85     90     94     88     95
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     74     72     74     78     77     70     79     80     76     65
99   ...     66     71     71     80     66     70     74     75     75     77
100  ...     67     75     76     76     75     79     79     85     77     83
101  ...     77     70     71     75     65     72     79     81     76     70
102  ...     90     74     76     85     83     78     84     86     82     70

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     67     81     61     63     53     59     62     51     60
1   2019-01-13     68     64     57     72     52     63     58     65     49
2   2019-01-20     64     50     58     63     50     62     61     50     55
3   2019-01-27     61     56     58     61     52     62     54     65     58
4   2019-02-03     56     78     54     58     49     59     55     63     58
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     58     58     63     65     50     53     61     69     33
99  2020-11-29     62     72     59     60     49     54     56     55     36
100 2020-12-06     64     75     58     56     46     51     49     55     31
101 2020-12-13     60     51     60     59     46     52     55     56     32
102 2020-12-20     67     55     61     65     48     63     63     57     32

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     60     68     55     67     68     57     59     74     64     39
1    ...     78     72     56     54     44     55     61     71     65     46
2    ...     54     71     52     54     63     58     58     57     59     47
3    ...     72     60     55     45     63     53     56     66     57     44
4    ...     57     59     52     48     60     49     53     67     60     41
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     70     63     55     57     70     50     59     68     64     42
99   ...     57     65     55     51     48     57     59     65     57     60
100  ...     81     60     56     52     71     51     53     66     55     56
101  ...     84     62     51     48     59     48     50     68     52     57
102  ...     68     70     55     54     73     53     55     62     66     50

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     54     42     53     59     60     61     51     62     59
1   2019-01-13     59     47     48     70     52     57     41     39     58
2   2019-01-20     52     68     46     60     53     61     50     54     53
3   2019-01-27     55     43     49     61     57     66     46     46     74
4   2019-02-03     49     53     46     61     54     59     43     41     60
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     99    100     86    100     86     92     89    100     59
99  2020-11-29     92     73     67     74     73     72     73     68     66
100 2020-12-06     86     76     69     78     70     69     64     69     74
101 2020-12-13     77     59     65     84     72     72     68     75     67
102 2020-12-20     98     74     76    100     84     89     81     98     56

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     45     61     56     61     46     51     67     42     53     69
1    ...     43     55     52     53     65     48     56     56     49     31
2    ...     46     52     54     57     51     50     55     53     54     33
3    ...     51     61     54     66     77     56     62     48     60     62
4    ...     42     51     52     49     39     48     61     49     48     39
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     92     91     89     87     90     87     87    100     84     74
99   ...     79     74     73     55     58     78     76     78     68     79
100  ...     62     72     73     62     85     71     63     69     72     72
101  ...     63     71     77     68     58     72     74     64     65     65
102  ...     94     89     85     90     94     78     83     94     82     82

[103 rows x 52 columns]
          time  US-AL  US-AK  US-AZ  US-AR  US-CA  US-CO  US-CT  US-DE  US-DC  \
0   2019-01-06     69     61     46     49     56     46     59     64     59
1   2019-01-13     58     30     43     33     52     41     50     31     63
2   2019-01-20     59     30     36     59     52     53     59     38     50
3   2019-01-27     50     45     38     44     53     48     56     45     66
4   2019-02-03     56     33     36     36     51     43     50     35     49
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98  2020-11-22     69     73     67     54     70     62     94     73     75
99  2020-11-29     91     39     79     56     78     69     80     49     34
100 2020-12-06     66     69     80     57     81     73     96     74     68
101 2020-12-13     68     67     85     79     87     80     92     81     59
102 2020-12-20     98     44     77     67     87     87     86     64     80

     ...  US-SD  US-TN  US-TX  US-UT  US-VT  US-VA  US-WA  US-WV  US-WI  US-WY
0    ...     55     45     58     47     36     61     56     31     64     81
1    ...     42     44     50     44     36     52     45     53     51     46
2    ...     19     46     50     39     44     67     55     42     49     40
3    ...     46     44     50     35     44     58     48     45     55     23
4    ...     42     40     53     47     39     49     50     35     51     45
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
98   ...     61     54     72     69     66     75     71     67     60     81
99   ...     41     66     73     69     42     86     70     70     71     70
100  ...     48     69     80     86     35     86     84     97     88     81
101  ...     48     74     88     91     80     91     85     83     86     62
102  ...     71     80     93    100     39    100     95     72     79     90

[103 rows x 52 columns]

In [ ]:
for x in range(4, 8):
    alt_per_top_cat_info_collector(x)

In [ ]:
for x in range(8, 10):
    alt_per_top_cat_info_collector(x)

In [ ]:
new_top_cat_info_df_dict = {k:v for (k,v) in top_cat_info_df_dict.items() if not v.empty}

In [ ]:
new_alt_top_cat_info_df_dict = {k:v for (k,v) in alt_top_cat_info_df_dict.items() if not v.empty}

In [ ]:
combo_cats_dict_sw = new_top_cat_info_df_dict + new_alt_top_cat_info_df_dict

In [ ]:
import csv

In [ ]:
csv_columns = ['df_name', 'df']
csv_file = 'combo_cats_dict.csv'

In [ ]:
with open(csv_file, 'w') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
    writer.writeheader()
    for data in combo_cats_dict_sw:
        writer.writerow(data)