In [1]:
#dependencies
import pandas as pd
import numpy as np

In [6]:
#csv path 
all_states_path = "all-states-covid-data.csv"
all_covid_data_df = pd.read_csv(all_states_path)
all_covid_data_df.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-18,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,2020-12-18,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,2020-12-18,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,2020-12-18,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-18,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882

In [8]:
#displaying columns
all_covid_data_df.columns

Index(['date', 'state', 'dataQualityGrade', 'death', 'deathConfirmed',
       'deathIncrease', 'deathProbable', 'hospitalized',
       'hospitalizedCumulative', 'hospitalizedCurrently',
       'hospitalizedIncrease', 'inIcuCumulative', 'inIcuCurrently', 'negative',
       'negativeIncrease', 'negativeTestsAntibody',
       'negativeTestsPeopleAntibody', 'negativeTestsViral',
       'onVentilatorCumulative', 'onVentilatorCurrently', 'positive',
       'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [9]:
#creating a dictionary for making a shorter covid df with only relevant cols
covid_cols_dict = {
    'date': [x for x in all_covid_data_df['date']],
    'state': [x for x in all_covid_data_df['state']],
    'positive_cases': [x for x in all_covid_data_df['positive']],
    'total_tests': [x for x in all_covid_data_df['totalTestResults']]
}

In [10]:
#creating another df 
covid_cols_df = pd.DataFrame(covid_cols_dict)
covid_cols_df

             date state  positive_cases  total_tests
0      2020-12-18    AK         41905.0    1184922.0
1      2020-12-18    AL        315683.0    1764750.0
2      2020-12-18    AR        197421.0    1913448.0
3      2020-12-18    AS             0.0       2140.0
4      2020-12-18    AZ        442671.0    4514548.0
...           ...   ...             ...          ...
16310  2020-01-17    WA             0.0          NaN
16311  2020-01-16    WA             0.0          NaN
16312  2020-01-15    WA             0.0          NaN
16313  2020-01-14    WA             0.0          NaN
16314  2020-01-13    WA             NaN          NaN

[16315 rows x 4 columns]

In [11]:
#new column, percentage of positive cases
covid_cols_df['percentage_positive'] = (covid_cols_df['positive_cases']/covid_cols_df['total_tests']) * 100
covid_cols_df.head()

         date state  positive_cases  total_tests  percentage_positive
0  2020-12-18    AK         41905.0    1184922.0             3.536520
1  2020-12-18    AL        315683.0    1764750.0            17.888256
2  2020-12-18    AR        197421.0    1913448.0            10.317552
3  2020-12-18    AS             0.0       2140.0             0.000000
4  2020-12-18    AZ        442671.0    4514548.0             9.805433

In [12]:
#resetting index as the dates
covid_cols_df = covid_cols_df.set_index('date')

In [13]:
covid_cols_df.head()

           state  positive_cases  total_tests  percentage_positive
date
2020-12-18    AK         41905.0    1184922.0             3.536520
2020-12-18    AL        315683.0    1764750.0            17.888256
2020-12-18    AR        197421.0    1913448.0            10.317552
2020-12-18    AS             0.0       2140.0             0.000000
2020-12-18    AZ        442671.0    4514548.0             9.805433

In [15]:
#reading in the state abbreviations
path = 'statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.sample(12)

                   State Abbrev Code
42             Tennessee  Tenn.   TN
29         New Hampshire   N.H.   NH
44                  Utah   Utah   UT
38          Pennsylvania    Pa.   PA
50               Wyoming   Wyo.   WY
30            New Jersey   N.J.   NJ
19                 Maine  Maine   ME
9                Florida   Fla.   FL
8   District of Columbia   D.C.   DC
36              Oklahoma  Okla.   OK
15                  Iowa   Iowa   IA
27              Nebraska  Nebr.   NE

In [17]:
statesAbbrev_df.head(20)

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME

In [18]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [19]:
#list for state names
state_names = [x for x in statesAbbrev_df['State']]

In [25]:
#finding the codes for each of the states concerned here
state_codes[10], state_codes[11], state_codes[12], state_codes[13], state_codes[14], state_codes[15], state_codes[16], state_codes[17], state_codes[18], state_codes[19]

('GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME')

In [26]:
#reading in the stay at home order df
path = 'full_SAH_orders.csv'
sah_data_df = pd.read_csv(path)
sah_data_df.head()

,state_name,start_date,end_date,gathering_bans,previous_orders_start_date,previous_orders_end_date
0,Hawaii,4/25/2020,5/31/2020,NaN,NaN,NaN
1,Washington,4/2/2020,5/4/2020,NaN,NaN,NaN
2,Montana,4/24/2020,4/26/2020,More than 10,NaN,NaN
3,Maine,4/2/2020,4/30/2020,NaN,NaN,NaN
4,North Dakota,NaN,NaN,NaN,NaN,NaN

In [35]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(10, 11):
    path = f'../sarah/google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = pd.read_csv(path)

In [36]:
#testing to see how many states lie in the df dict
len(states_df_dict)

1

In [37]:
#inspecting the keys (ie df names)
states_df_dict.keys()
states_df_dict.keys()

dict_keys(['GA_data_df'])

In [38]:
#test printing a df
print(state_codes[10])
states_df_dict[f'{state_codes[10]}_data_df'].head(10)

GA

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,85,68,83,72,57,0,61,15,83,...,55,77,63,76,82,65,51,NaN,False,False
1,2019-01-13,85,71,88,85,72,0,61,17,85,...,57,85,48,67,85,48,64,NaN,False,False
2,2019-01-20,85,73,85,82,64,0,56,16,81,...,57,91,61,69,84,64,69,NaN,False,False
3,2019-01-27,89,75,87,85,63,0,69,22,75,...,59,90,53,70,85,79,100,NaN,False,False
4,2019-02-03,83,73,83,80,59,0,56,20,69,...,54,79,46,85,84,65,54,NaN,False,False
5,2019-02-10,80,69,78,78,54,0,54,25,70,...,55,78,48,52,79,63,63,NaN,False,False
6,2019-02-17,84,72,84,72,60,0,72,19,79,...,60,80,50,52,79,63,74,NaN,False,False
7,2019-02-24,87,77,85,84,57,0,60,25,70,...,57,77,56,54,81,77,63,NaN,False,False
8,2019-03-03,86,76,84,83,56,0,52,42,66,...,58,74,48,54,94,70,78,NaN,False,False
9,2019-03-10,81,74,82,71,53,0,53,15,63,...,54,80,46,61,80,60,56,NaN,False,False

In [40]:
dates_list = [x for x in states_df_dict[f'{state_codes[10]}_data_df']['time']]
dates_list

['2019-01-06',
 '2019-01-13',
 '2019-01-20',
 '2019-01-27',
 '2019-02-03',
 '2019-02-10',
 '2019-02-17',
 '2019-02-24',
 '2019-03-03',
 '2019-03-10',
 '2019-03-17',
 '2019-03-24',
 '2019-03-31',
 '2019-04-07',
 '2019-04-14',
 '2019-04-21',
 '2019-04-28',
 '2019-05-05',
 '2019-05-12',
 '2019-05-19',
 '2019-05-26',
 '2019-06-02',
 '2019-06-09',
 '2019-06-16',
 '2019-06-23',
 '2019-06-30',
 '2019-07-07',
 '2019-07-14',
 '2019-07-21',
 '2019-07-28',
 '2019-08-04',
 '2019-08-11',
 '2019-08-18',
 '2019-08-25',
 '2019-09-01',
 '2019-09-08',
 '2019-09-15',
 '2019-09-22',
 '2019-09-29',
 '2019-10-06',
 '2019-10-13',
 '2019-10-20',
 '2019-10-27',
 '2019-11-03',
 '2019-11-10',
 '2019-11-17',
 '2019-11-24',
 '2019-12-01',
 '2019-12-08',
 '2019-12-15',
 '2019-12-22',
 '2019-12-29',
 '2020-01-05',
 '2020-01-12',
 '2020-01-19',
 '2020-01-26',
 '2020-02-02',
 '2020-02-09',
 '2020-02-16',
 '2020-02-23',
 '2020-03-01',
 '2020-03-08',
 '2020-03-15',
 '2020-03-22',
 '2020-03-29',
 '2020-04-05',
 '2020-04-12',
 '2020-04-19',
 '2020-04-26',
 '2020-05-03',
 '2020-05-10',
 '2020-05-17',
 '2020-05-24',
 '2020-05-31',
 '2020-06-07',
 '2020-06-14',
 '2020-06-21',
 '2020-06-28',
 '2020-07-05',
 '2020-07-12',
 '2020-07-19',
 '2020-07-26',
 '2020-08-02',
 '2020-08-09',
 '2020-08-16',
 '2020-08-23',
 '2020-08-30',
 '2020-09-06',
 '2020-09-13',
 '2020-09-20',
 '2020-09-27',
 '2020-10-04',
 '2020-10-11',
 '2020-10-18',
 '2020-10-25',
 '2020-11-01',
 '2020-11-08',
 '2020-11-15',
 '2020-11-22',
 '2020-11-29',
 '2020-12-06',
 '2020-12-13',
 '2020-12-20']

In [41]:
#testing the char indices for only the year-month
dates_list[0][0:7]

'2019-01'

In [42]:
#creating a list of unique year-month combos
all_month_year = [x[0:7] for x in dates_list]
month_year = set(all_month_year)
month_year = list(month_year)

In [43]:
#function for appending dates per month, and their indices, to a month_date_dict
months_dates_dict = {}
def date_dict_append(m):
    month_date_list = []
    for x in range(0, len(dates_list)):
        if dates_list[x][0:7] == month_year[m]:
            month_date_list.append((dates_list[x], x))
    #months_dates_dict = {}
    months_dates_dict[f'{month_year[m]}'] = month_date_list

In [44]:
#calling the function for each month in the month-year dict
for m in range(0, len(month_year)):
    date_dict_append(m)

In [45]:
#printing the dict
print(months_dates_dict)

{'2019-05': [('2019-05-05', 17), ('2019-05-12', 18), ('2019-05-19', 19), ('2019-05-26', 20)], '2019-11': [('2019-11-03', 43), ('2019-11-10', 44), ('2019-11-17', 45), ('2019-11-24', 46)], '2020-05': [('2020-05-03', 69), ('2020-05-10', 70), ('2020-05-17', 71), ('2020-05-24', 72), ('2020-05-31', 73)], '2020-11': [('2020-11-01', 95), ('2020-11-08', 96), ('2020-11-15', 97), ('2020-11-22', 98), ('2020-11-29', 99)], '2020-12': [('2020-12-06', 100), ('2020-12-13', 101), ('2020-12-20', 102)], '2020-09': [('2020-09-06', 87), ('2020-09-13', 88), ('2020-09-20', 89), ('2020-09-27', 90)], '2020-10': [('2020-10-04', 91), ('2020-10-11', 92), ('2020-10-18', 93), ('2020-10-25', 94)], '2020-01': [('2020-01-05', 52), ('2020-01-12', 53), ('2020-01-19', 54), ('2020-01-26', 55)], '2019-06': [('2019-06-02', 21), ('2019-06-09', 22), ('2019-06-16', 23), ('2019-06-23', 24), ('2019-06-30', 25)], '2019-01': [('2019-01-06', 0), ('2019-01-13', 1), ('2019-01-20', 2), ('2019-01-27', 3)], '2020-07': [('2020-07-05', 78), ('2020-07-12', 79), ('2020-07-19', 80), ('2020-07-26', 81)], '2019-08': [('2019-08-04', 30), ('2019-08-11', 31), ('2019-08-18', 32), ('2019-08-25', 33)], '2019-10': [('2019-10-06', 39), ('2019-10-13', 40), ('2019-10-20', 41), ('2019-10-27', 42)], '2019-07': [('2019-07-07', 26), ('2019-07-14', 27), ('2019-07-21', 28), ('2019-07-28', 29)], '2020-06': [('2020-06-07', 74), ('2020-06-14', 75), ('2020-06-21', 76), ('2020-06-28', 77)], '2020-02': [('2020-02-02', 56), ('2020-02-09', 57), ('2020-02-16', 58), ('2020-02-23', 59)], '2020-03': [('2020-03-01', 60), ('2020-03-08', 61), ('2020-03-15', 62), ('2020-03-22', 63), ('2020-03-29', 64)], '2019-02': [('2019-02-03', 4), ('2019-02-10', 5), ('2019-02-17', 6), ('2019-02-24', 7)], '2019-12': [('2019-12-01', 47), ('2019-12-08', 48), ('2019-12-15', 49), ('2019-12-22', 50), ('2019-12-29', 51)], '2019-03': [('2019-03-03', 8), ('2019-03-10', 9), ('2019-03-17', 10), ('2019-03-24', 11), ('2019-03-31', 12)], '2019-09': [('2019-09-01', 34), ('2019-09-08', 35), ('2019-09-15', 36), ('2019-09-22', 37), ('2019-09-29', 38)], '2019-04': [('2019-04-07', 13), ('2019-04-14', 14), ('2019-04-21', 15), ('2019-04-28', 16)], '2020-04': [('2020-04-05', 65), ('2020-04-12', 66), ('2020-04-19', 67), ('2020-04-26', 68)], '2020-08': [('2020-08-02', 82), ('2020-08-09', 83), ('2020-08-16', 84), ('2020-08-23', 85), ('2020-08-30', 86)]}

In [46]:
#defining function for appending the covid data to each state df
def covid_data_append(state_index):
    global state_date_list
    state_date_list = []
    for date in dates_list:
        try:
            state_date_list.append(covid_cols_df[covid_cols_df['state'] == state_codes[state_index]].loc[date, 'positive_cases'])
        except KeyError:
            print(date)
            state_date_list.append('n/a')
            continue  
    states_df_dict[f'{state_codes[state_index]}_data_df']['covid_cases'] = state_date_list
    print(states_df_dict[f'{state_codes[state_index]}_data_df'].tail(20))

In [49]:
#calling funct for states dfs index 10-19
for x in range(10, 20):
    covid_data_append(x)

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-12-20
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  90     88              90         69
84   2020-08-16                  90     90              87         82
85   2020-08-23                  91     85              88         91
86   2020-08-30                  86     82              87         90
87   2020-09-06                  87     84              86         85
88   2020-09-13                  86     84              84         90
89   2020-09-20                  83     81              86         88
90   2020-09-27                  81     81              83         79
91   2020-10-04                  86     79              83         77
92   2020-10-11                  77     78              82         66
93   2020-10-18                  81     77              79         69
94   2020-10-25                  79     74              80         65
95   2020-11-01                  71     63              67         61
96   2020-11-08                  83     75              82         65
97   2020-11-15                  79     73              79         68
98   2020-11-22                  77     70              78         53
99   2020-11-29                  79     75              84         66
100  2020-12-06                  84     75              88         67
101  2020-12-13                  83     76              83         65
102  2020-12-20                  87     74              89         53

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 70                    1      59              36
84                 72                    1      66              26
85                 75                    1      70              28
86                 83                    1      57              18
87                 73                    1      54              20
88                 69                    1      51              19
89                 65                    2      50              26
90                 55                    2      85              24
91                 56                    3      76              20
92                 61                    3      56              20
93                 62                    4      59              18
94                100                    3      55              22
95                 68                  100     100              32
96                 68                   11      88              29
97                 58                    3      67              21
98                 61                    1      59               7
99                 64                    1      60              14
100                62                    1      53              13
101                64                    2      56              18
102                68                    1      58              13

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    85  ...       60           80             53
84                    86  ...       61           98             57
85                    88  ...       62          100             55
86                    82  ...       61           95             60
87                    76  ...       57           86             82
88                    81  ...       63           94             65
89                    82  ...       56           87             54
90                    65  ...       56           85             55
91                    65  ...       54           81             56
92                    59  ...       81           75             57
93                    68  ...       64           77             52
94                    61  ...       58           70             77
95                    53  ...       55           68             59
96                    69  ...       63           76             70
97                    68  ...       59           72             68
98                    78  ...       59           64             67
99                    71  ...       59           74             82
100                   82  ...       59           71             70
101                   77  ...       57           78             92
102                   83  ...       66           76             92

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           56        83              59       49       216596         False
84           76        86              57       47       237030         False
85           65        86              52       53       253949         False
86           70        85              57       33       268973         False
87           74        84              38       36       283199         False
88           78        87              70       60       294314         False
89           75        83              56       44       306155         False
90           74        78              44       42       314685         False
91           79        82              44       46       322925         False
92           82        84              49       42       331409         False
93           61        78              45       39       340558         False
94           65        76              48       60       350923         False
95           56        68              40       37       361982         False
96           47        92              60       48       373078         False
97           50        75              44       36       386949         False
98           58        76              42       44       404411         False
99           55        78              62       59       420601         False
100          54        85              62       43       443822         False
101          87        78              56       57       476044         False
102          53        81              36       59          n/a         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-12-20

KeyError: 'HI_data_df'

In [50]:
#defining a funct for appending whether stay at home orders or gathering bans are happening
def value_changer(index_no):
    print(sah_data_df[sah_data_df['state_name'] == state_names[index_no]]) 
    query = input('is there a stay at home order? Yes/No')
    if query == 'Yes':
        start_month = input('start month')
        end_month = input('end month')
        print(months_dates_dict[f'2020-{start_month}'])
        print(months_dates_dict[f'2020-{end_month}'])
        val1 = int(input('start index'))
        val2 = int(input('end index(first index after the end of the ban)'))
        response = input('gathering ban? Yes/No')
        if response == 'Yes':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -1] = 'True'
        elif response == 'No':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].iloc[(val1-2):(val2+2), :])
    elif query == 'No':
        print(f'{state_codes[index_no]}_data_df has no bans')
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))
    else:
        ask = input('Did you make a mistake?Yes/No')
        if ask == 'Yes':
            value_changer(index_no)
        else:
            print(f'{state_codes[index_no]}_data_df has no bans')
            print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))

In [ ]:
#calling the funct for all of the states ind 11-20
for x in range(11, 20):
    value_changer(x)

  state_name start_date   end_date gathering_bans previous_orders_start_date  \
0     Hawaii  4/25/2020  5/31/2020            NaN                        NaN

  previous_orders_end_date
0                      NaN
is there a stay at home order? Yes/Noyes
Did you make a mistake?Yes/Nono
HI_data_df has no bans
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
93   2020-10-18                  76     76              78         63
94   2020-10-25                  75     75              78         67
95   2020-11-01                  70     67              71         62
96   2020-11-08                  77     79              78         61
97   2020-11-15                  79     76              76         63
98   2020-11-22                  80     75              76         59
99   2020-11-29                  77     76              76         70
100  2020-12-06                  73     74              74         67
101  2020-12-13                  72     72              71         57
102  2020-12-20                  83     81              78         53

     action_adventure  campaigns_elections  celebs  discrimination  \
93                 63                    2      73              21
94                 90                    2      71              30
95                 81                  100     100              18
96                 74                    9      90              28
97                 49                    2      75              21
98                 52                    1      67              14
99                 61                    1      66              14
100                63                    1      58               9
101                61                    1      58              19
102                50                    0      69               8

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
93                    53  ...       72           68             38
94                    63  ...       58           61             62
95                    46  ...       55           62             51
96                    44  ...       57           74             67
97                    54  ...       57           71             48
98                    68  ...       65           57             66
99                    48  ...       65           62             79
100                   53  ...       63           60             52
101                   41  ...       55           62             59
102                   82  ...       62           67             83

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
93           50        70              17       33        14143         False
94           44        71              42       36        14758         False
95           51        74              28       21        15284         False
96           58        81              21       24        16051         False
97           35        73              25       27        16759         False
98           33        80              29       34        17483         False
99           51        75              61       26        18138         False
100          41        62              17       22        18842         False
101          40        73              30       27        19599         False
102          34        79              14       30        20615         False

     mass_gathering_ban
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[10 rows x 25 columns]
  state_name start_date   end_date gathering_bans previous_orders_start_date  \
8      Idaho  4/15/2020  4/30/2020       Any size                  3/25/2020

  previous_orders_end_date
8                4/15/2020
is there a stay at home order? Yes/No

In [52]:
#outputting the dfs back out
for x in range(10,11):
    output_path = f'../keiko/states_data/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'].to_csv(output_path, index=False)