In [1]:
#dependencies
import pandas as pd
import numpy as np

In [2]:
#csv path 
all_states_history_path = "data/all-states-history.csv"
all_covid_data_df = pd.read_csv(all_states_history_path)
all_covid_data_df.head()

/Users/Keiko/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-01-04,AK,A,218.0,218.0,3,NaN,1033.0,1033.0,97.0,...,1297498.0,3661,NaN,NaN,NaN,NaN,NaN,0,1297498.0,3661
1,2021-01-04,AL,A,4878.0,4259.0,5,619.0,35430.0,35430.0,3064.0,...,1903388.0,3318,NaN,NaN,88653.0,NaN,1903388.0,3318,NaN,0
2,2021-01-04,AR,A+,3800.0,3178.0,51,622.0,11514.0,11514.0,1296.0,...,2095621.0,5424,NaN,21856.0,NaN,254026.0,NaN,0,2095621.0,5424
3,2021-01-04,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-01-04,AZ,A+,9064.0,8173.0,3,891.0,39897.0,39897.0,4647.0,...,5288658.0,31186,393204.0,NaN,NaN,NaN,2937589.0,14822,5288658.0,31186

In [3]:
#creating a dictionary for making a shorter covid df with only relevant cols
covid_cols_dict = {
    'date': [x for x in all_covid_data_df['date']],
    'state': [x for x in all_covid_data_df['state']],
    'positive_cases': [x for x in all_covid_data_df['positive']],
    'total_tests': [x for x in all_covid_data_df['totalTestResults']]
}

In [4]:
#creating another df 
covid_cols_df = pd.DataFrame(covid_cols_dict)
covid_cols_df

             date state  positive_cases  total_tests
0      2021-01-04    AK         46812.0    1297498.0
1      2021-01-04    AL        374095.0    1903388.0
2      2021-01-04    AR        234781.0    2095621.0
3      2021-01-04    AS             0.0       2140.0
4      2021-01-04    AZ        561542.0    5288658.0
...           ...   ...             ...          ...
17262  2020-01-17    WA             0.0          NaN
17263  2020-01-16    WA             0.0          NaN
17264  2020-01-15    WA             0.0          NaN
17265  2020-01-14    WA             0.0          NaN
17266  2020-01-13    WA             NaN          NaN

[17267 rows x 4 columns]

In [5]:
#new column, percentage of positive cases
covid_cols_df['percentage_positive'] = (covid_cols_df['positive_cases']/covid_cols_df['total_tests']) * 100
covid_cols_df.head()

         date state  positive_cases  total_tests  percentage_positive
0  2021-01-04    AK         46812.0    1297498.0             3.607867
1  2021-01-04    AL        374095.0    1903388.0            19.654164
2  2021-01-04    AR        234781.0    2095621.0            11.203409
3  2021-01-04    AS             0.0       2140.0             0.000000
4  2021-01-04    AZ        561542.0    5288658.0            10.617854

In [6]:
#resetting index as the dates
covid_cols_df = covid_cols_df.set_index('date')

In [7]:
covid_cols_df.head()

           state  positive_cases  total_tests  percentage_positive
date
2021-01-04    AK         46812.0    1297498.0             3.607867
2021-01-04    AL        374095.0    1903388.0            19.654164
2021-01-04    AR        234781.0    2095621.0            11.203409
2021-01-04    AS             0.0       2140.0             0.000000
2021-01-04    AZ        561542.0    5288658.0            10.617854

In [8]:
#reading in the state abbreviations
path = '../perry/statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.sample(12)

            State  Abbrev Code
49      Wisconsin    Wis.   WI
24    Mississippi   Miss.   MS
32       New York    N.Y.   NY
7        Delaware    Del.   DE
46       Virginia     Va.   VA
23      Minnesota   Minn.   MN
1          Alaska  Alaska   AK
48  West Virginia   W.Va.   WV
42      Tennessee   Tenn.   TN
18      Louisiana     La.   LA
6     Connecticut   Conn.   CT
38   Pennsylvania     Pa.   PA

In [9]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [10]:
#list for state names
state_names = [x for x in statesAbbrev_df['State']]

In [11]:
#finding the codes for each of the states concerned here
state_codes[11], state_codes[12], state_codes[13], state_codes[14], state_codes[15], state_codes[16], state_codes[17], state_codes[18], state_codes[19], state_codes[20]

('HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD')

In [12]:
#reading in the stay at home order df
path = '../perry/full_SAH_orders.csv'
sah_data_df = pd.read_csv(path)
sah_data_df.head()

,state_name,start_date,end_date,gathering_bans,previous_orders_start_date,previous_orders_end_date
0,Hawaii,4/25/2020,5/31/2020,NaN,NaN,NaN
1,Washington,4/2/2020,5/4/2020,NaN,NaN,NaN
2,Montana,4/24/2020,4/26/2020,More than 10,NaN,NaN
3,Maine,4/2/2020,4/30/2020,NaN,NaN,NaN
4,North Dakota,NaN,NaN,NaN,NaN,NaN

In [15]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(11, 12):
    path = f'../sarah/google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = pd.read_csv(path)

In [16]:
#testing to see how many states lie in the df dict
len(states_df_dict)

1

In [18]:
#inspecting the keys (ie df names)
states_df_dict.keys()
states_df_dict.keys()

dict_keys(['HI_data_df'])

In [19]:
#test printing a df
print(state_codes[11])
states_df_dict[f'{state_codes[11]}_data_df'].head(10)

HI

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,100,84,100,90,82,0,87,13,90,...,68,83,27,83,96,33,36,NaN,False,False
1,2019-01-13,98,82,96,91,80,0,85,24,68,...,62,86,61,56,85,14,49,NaN,False,False
2,2019-01-20,92,84,89,89,70,0,76,31,77,...,56,98,53,72,80,9,43,NaN,False,False
3,2019-01-27,93,82,90,92,71,0,70,29,65,...,63,74,31,35,90,14,77,NaN,False,False
4,2019-02-03,94,89,96,91,83,0,67,26,65,...,61,83,27,62,91,32,56,NaN,False,False
5,2019-02-10,96,78,91,84,71,0,67,18,57,...,66,71,17,60,79,60,100,NaN,False,False
6,2019-02-17,96,84,93,81,61,0,88,13,67,...,75,77,50,48,88,47,67,NaN,False,False
7,2019-02-24,99,85,90,84,51,0,77,35,70,...,68,74,53,54,87,69,47,NaN,False,False
8,2019-03-03,99,85,96,83,56,0,72,63,69,...,62,80,27,54,88,33,51,NaN,False,False
9,2019-03-10,94,91,100,85,74,0,77,8,61,...,67,84,24,79,100,42,32,NaN,False,False

In [20]:
dates_list = [x for x in states_df_dict[f'{state_codes[11]}_data_df']['time']]
dates_list

['2019-01-06',
 '2019-01-13',
 '2019-01-20',
 '2019-01-27',
 '2019-02-03',
 '2019-02-10',
 '2019-02-17',
 '2019-02-24',
 '2019-03-03',
 '2019-03-10',
 '2019-03-17',
 '2019-03-24',
 '2019-03-31',
 '2019-04-07',
 '2019-04-14',
 '2019-04-21',
 '2019-04-28',
 '2019-05-05',
 '2019-05-12',
 '2019-05-19',
 '2019-05-26',
 '2019-06-02',
 '2019-06-09',
 '2019-06-16',
 '2019-06-23',
 '2019-06-30',
 '2019-07-07',
 '2019-07-14',
 '2019-07-21',
 '2019-07-28',
 '2019-08-04',
 '2019-08-11',
 '2019-08-18',
 '2019-08-25',
 '2019-09-01',
 '2019-09-08',
 '2019-09-15',
 '2019-09-22',
 '2019-09-29',
 '2019-10-06',
 '2019-10-13',
 '2019-10-20',
 '2019-10-27',
 '2019-11-03',
 '2019-11-10',
 '2019-11-17',
 '2019-11-24',
 '2019-12-01',
 '2019-12-08',
 '2019-12-15',
 '2019-12-22',
 '2019-12-29',
 '2020-01-05',
 '2020-01-12',
 '2020-01-19',
 '2020-01-26',
 '2020-02-02',
 '2020-02-09',
 '2020-02-16',
 '2020-02-23',
 '2020-03-01',
 '2020-03-08',
 '2020-03-15',
 '2020-03-22',
 '2020-03-29',
 '2020-04-05',
 '2020-04-12',
 '2020-04-19',
 '2020-04-26',
 '2020-05-03',
 '2020-05-10',
 '2020-05-17',
 '2020-05-24',
 '2020-05-31',
 '2020-06-07',
 '2020-06-14',
 '2020-06-21',
 '2020-06-28',
 '2020-07-05',
 '2020-07-12',
 '2020-07-19',
 '2020-07-26',
 '2020-08-02',
 '2020-08-09',
 '2020-08-16',
 '2020-08-23',
 '2020-08-30',
 '2020-09-06',
 '2020-09-13',
 '2020-09-20',
 '2020-09-27',
 '2020-10-04',
 '2020-10-11',
 '2020-10-18',
 '2020-10-25',
 '2020-11-01',
 '2020-11-08',
 '2020-11-15',
 '2020-11-22',
 '2020-11-29',
 '2020-12-06',
 '2020-12-13',
 '2020-12-20']

In [21]:
#testing the char indices for only the year-month
dates_list[0][0:7]

'2019-01'

In [22]:
#creating a list of unique year-month combos
all_month_year = [x[0:7] for x in dates_list]
month_year = set(all_month_year)
month_year = list(month_year)

In [23]:
#function for appending dates per month, and their indices, to a month_date_dict
months_dates_dict = {}
def date_dict_append(m):
    month_date_list = []
    for x in range(0, len(dates_list)):
        if dates_list[x][0:7] == month_year[m]:
            month_date_list.append((dates_list[x], x))
    #months_dates_dict = {}
    months_dates_dict[f'{month_year[m]}'] = month_date_list

In [24]:
#calling the function for each month in the month-year dict
for m in range(0, len(month_year)):
    date_dict_append(m)

In [25]:
#printing the dict
print(months_dates_dict)

{'2020-10': [('2020-10-04', 91), ('2020-10-11', 92), ('2020-10-18', 93), ('2020-10-25', 94)], '2020-04': [('2020-04-05', 65), ('2020-04-12', 66), ('2020-04-19', 67), ('2020-04-26', 68)], '2019-03': [('2019-03-03', 8), ('2019-03-10', 9), ('2019-03-17', 10), ('2019-03-24', 11), ('2019-03-31', 12)], '2019-10': [('2019-10-06', 39), ('2019-10-13', 40), ('2019-10-20', 41), ('2019-10-27', 42)], '2019-12': [('2019-12-01', 47), ('2019-12-08', 48), ('2019-12-15', 49), ('2019-12-22', 50), ('2019-12-29', 51)], '2020-02': [('2020-02-02', 56), ('2020-02-09', 57), ('2020-02-16', 58), ('2020-02-23', 59)], '2020-08': [('2020-08-02', 82), ('2020-08-09', 83), ('2020-08-16', 84), ('2020-08-23', 85), ('2020-08-30', 86)], '2019-07': [('2019-07-07', 26), ('2019-07-14', 27), ('2019-07-21', 28), ('2019-07-28', 29)], '2019-05': [('2019-05-05', 17), ('2019-05-12', 18), ('2019-05-19', 19), ('2019-05-26', 20)], '2019-06': [('2019-06-02', 21), ('2019-06-09', 22), ('2019-06-16', 23), ('2019-06-23', 24), ('2019-06-30', 25)], '2020-09': [('2020-09-06', 87), ('2020-09-13', 88), ('2020-09-20', 89), ('2020-09-27', 90)], '2020-03': [('2020-03-01', 60), ('2020-03-08', 61), ('2020-03-15', 62), ('2020-03-22', 63), ('2020-03-29', 64)], '2020-06': [('2020-06-07', 74), ('2020-06-14', 75), ('2020-06-21', 76), ('2020-06-28', 77)], '2020-12': [('2020-12-06', 100), ('2020-12-13', 101), ('2020-12-20', 102)], '2019-08': [('2019-08-04', 30), ('2019-08-11', 31), ('2019-08-18', 32), ('2019-08-25', 33)], '2019-01': [('2019-01-06', 0), ('2019-01-13', 1), ('2019-01-20', 2), ('2019-01-27', 3)], '2019-04': [('2019-04-07', 13), ('2019-04-14', 14), ('2019-04-21', 15), ('2019-04-28', 16)], '2019-09': [('2019-09-01', 34), ('2019-09-08', 35), ('2019-09-15', 36), ('2019-09-22', 37), ('2019-09-29', 38)], '2020-01': [('2020-01-05', 52), ('2020-01-12', 53), ('2020-01-19', 54), ('2020-01-26', 55)], '2020-07': [('2020-07-05', 78), ('2020-07-12', 79), ('2020-07-19', 80), ('2020-07-26', 81)], '2020-05': [('2020-05-03', 69), ('2020-05-10', 70), ('2020-05-17', 71), ('2020-05-24', 72), ('2020-05-31', 73)], '2019-11': [('2019-11-03', 43), ('2019-11-10', 44), ('2019-11-17', 45), ('2019-11-24', 46)], '2020-11': [('2020-11-01', 95), ('2020-11-08', 96), ('2020-11-15', 97), ('2020-11-22', 98), ('2020-11-29', 99)], '2019-02': [('2019-02-03', 4), ('2019-02-10', 5), ('2019-02-17', 6), ('2019-02-24', 7)]}

In [26]:
#defining function for appending the covid data to each state df
def covid_data_append(state_index):
    global state_date_list
    state_date_list = []
    for date in dates_list:
        try:
            state_date_list.append(covid_cols_df[covid_cols_df['state'] == state_codes[state_index]].loc[date, 'positive_cases'])
        except KeyError:
            print(date)
            state_date_list.append('n/a')
            continue  
    states_df_dict[f'{state_codes[state_index]}_data_df']['covid_cases'] = state_date_list
    print(states_df_dict[f'{state_codes[state_index]}_data_df'].tail(20))

In [27]:
#calling funct for states dfs index 40-50
for x in range(11, 20):
    covid_data_append(x)

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  86     88              84         70
84   2020-08-16                  89     88              87         75
85   2020-08-23                  91     88              78         97
86   2020-08-30                  95     86              82         99
87   2020-09-06                  96     84              82         89
88   2020-09-13                  91     81              85        100
89   2020-09-20                  87     81              79         99
90   2020-09-27                  86     76              84         84
91   2020-10-04                  76     83              76         70
92   2020-10-11                  74     79              73         65
93   2020-10-18                  76     76              78         63
94   2020-10-25                  75     75              78         67
95   2020-11-01                  70     67              71         62
96   2020-11-08                  77     79              78         61
97   2020-11-15                  79     76              76         63
98   2020-11-22                  80     75              76         59
99   2020-11-29                  77     76              76         70
100  2020-12-06                  73     74              74         67
101  2020-12-13                  72     72              71         57
102  2020-12-20                  83     81              78         53

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 86                    2      81              29
84                 73                    1      68              22
85                 83                    1      74              27
86                 87                    1      59              24
87                 92                    1      73              11
88                 79                    1      67              30
89                 52                    1      58              37
90                 58                    2      93              25
91                 58                    2      97              20
92                 60                    1      67              17
93                 63                    2      73              21
94                 90                    2      71              30
95                 81                  100     100              18
96                 74                    9      90              28
97                 49                    2      75              21
98                 52                    1      67              14
99                 61                    1      66              14
100                63                    1      58               9
101                61                    1      58              19
102                50                    0      69               8

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    80  ...       55           71             40
84                    84  ...       54           92             47
85                    78  ...       61           92             42
86                    88  ...       72           92             51
87                    68  ...       58           80             73
88                    71  ...       63          100             53
89                    64  ...       59           86             42
90                    65  ...       48           86             46
91                    64  ...       53           75             49
92                    65  ...       77           70             56
93                    53  ...       72           68             38
94                    63  ...       58           61             62
95                    46  ...       55           62             51
96                    44  ...       57           74             67
97                    54  ...       57           71             48
98                    68  ...       65           57             66
99                    48  ...       65           62             79
100                   53  ...       63           60             52
101                   41  ...       55           62             59
102                   82  ...       62           67             83

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           42        83              28       19         3346         False
84           50        72              12       18         4825         False
85           63        85              28       21         6356         False
86           64        82              24       17         8139         False
87           58        86              32       16         9693         False
88           83        96              27       16        10722         False
89           56        80              39       20        11485         False
90           52        83              36       17        12197         False
91           66        76              24       17        12921         False
92           51        73              21       25        13569         False
93           50        70              17       33        14143         False
94           44        71              42       36        14758         False
95           51        74              28       21        15284         False
96           58        81              21       24        16051         False
97           35        73              25       27        16759         False
98           33        80              29       34        17483         False
99           51        75              61       26        18138         False
100          41        62              17       22        18842         False
101          40        73              30       27        19599         False
102          34        79              14       30        20615         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01

KeyError: 'ID_data_df'

In [28]:
#defining a funct for appending whether stay at home orders or gathering bans are happening
def value_changer(index_no):
    print(sah_data_df[sah_data_df['state_name'] == state_names[index_no]]) 
    query = input('is there a stay at home order? Yes/No')
    if query == 'Yes':
        start_month = input('start month')
        end_month = input('end month')
        print(months_dates_dict[f'2020-{start_month}'])
        print(months_dates_dict[f'2020-{end_month}'])
        val1 = int(input('start index'))
        val2 = int(input('end index(first index after the end of the ban)'))
        response = input('gathering ban? Yes/No')
        if response == 'Yes':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -1] = 'True'
        elif response == 'No':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].iloc[(val1-2):(val2+2), :])
    elif query == 'No':
        print(f'{state_codes[index_no]}_data_df has no bans')
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))
    else:
        ask = input('Did you make a mistake?Yes/No')
        if ask == 'Yes':
            value_changer(index_no)
        else:
            print(f'{state_codes[index_no]}_data_df has no bans')
            print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))

In [ ]:
#calling the funct for all of the states ind 11-20
for x in range(11, 20):
    value_changer(x)

  state_name start_date   end_date gathering_bans previous_orders_start_date  \
0     Hawaii  4/25/2020  5/31/2020            NaN                        NaN

  previous_orders_end_date
0                      NaN
is there a stay at home order? Yes/Noyes
Did you make a mistake?Yes/Nono
HI_data_df has no bans
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
93   2020-10-18                  76     76              78         63
94   2020-10-25                  75     75              78         67
95   2020-11-01                  70     67              71         62
96   2020-11-08                  77     79              78         61
97   2020-11-15                  79     76              76         63
98   2020-11-22                  80     75              76         59
99   2020-11-29                  77     76              76         70
100  2020-12-06                  73     74              74         67
101  2020-12-13                  72     72              71         57
102  2020-12-20                  83     81              78         53

     action_adventure  campaigns_elections  celebs  discrimination  \
93                 63                    2      73              21
94                 90                    2      71              30
95                 81                  100     100              18
96                 74                    9      90              28
97                 49                    2      75              21
98                 52                    1      67              14
99                 61                    1      66              14
100                63                    1      58               9
101                61                    1      58              19
102                50                    0      69               8

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
93                    53  ...       72           68             38
94                    63  ...       58           61             62
95                    46  ...       55           62             51
96                    44  ...       57           74             67
97                    54  ...       57           71             48
98                    68  ...       65           57             66
99                    48  ...       65           62             79
100                   53  ...       63           60             52
101                   41  ...       55           62             59
102                   82  ...       62           67             83

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
93           50        70              17       33        14143         False
94           44        71              42       36        14758         False
95           51        74              28       21        15284         False
96           58        81              21       24        16051         False
97           35        73              25       27        16759         False
98           33        80              29       34        17483         False
99           51        75              61       26        18138         False
100          41        62              17       22        18842         False
101          40        73              30       27        19599         False
102          34        79              14       30        20615         False

     mass_gathering_ban
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[10 rows x 25 columns]
  state_name start_date   end_date gathering_bans previous_orders_start_date  \
8      Idaho  4/15/2020  4/30/2020       Any size                  3/25/2020

  previous_orders_end_date
8                4/15/2020
is there a stay at home order? Yes/No

In [ ]:
#outputting the dfs back out
output_path = f'../keiko/states_data/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'].to_csv(output_path, index=False)