In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import json

#import numpy as np

In [2]:
#url for get request 
#url = "https://api.covidtracking.com/v1/states/daily.json"

#response = requests.get(url).json()

#print (json.dumps(response, indent=4, sort_keys=True))

In [87]:
all_states_history_path = "data/all-states-history.csv"
national_history_path = "data/national-history.csv"

all_states_history = pd.read_csv(all_states_history_path)
national_history = pd.read_csv(national_history_path)

#split date column
all_states_history[["year", "month", "day"]] = all_states_history["date"].str.split('-',expand=True)

#make new df
all_states_df = pd.DataFrame(all_states_history[["date", "year", "month", "state", "death", "positive", "recovered", "totalTestResults"]])


#remove NaN from columns
all_states_df["death"] = all_states_df["death"].fillna(0)
all_states_df["positive"] = all_states_df["positive"].fillna(0)
all_states_df["recovered"] = all_states_df["recovered"].fillna(0)
all_states_df["totalTestResults"] = all_states_df["totalTestResults"].fillna(0)

#adding percent infected column
#add percent sign 
all_states_df["Percent Infected Rate"] = (all_states_df["positive"]/all_states_df["totalTestResults"])

all_states_df

,date,year,month,state,death,positive,recovered,totalTestResults,Percent Infected Rate
0,2020-12-18,2020,12,AK,183.0,41905.0,7165.0,1184922.0,0.035365
1,2020-12-18,2020,12,AL,4296.0,315683.0,183625.0,1764750.0,0.178883
2,2020-12-18,2020,12,AR,3139.0,197421.0,171864.0,1913448.0,0.103176
3,2020-12-18,2020,12,AS,0.0,0.0,0.0,2140.0,0.000000
4,2020-12-18,2020,12,AZ,7819.0,442671.0,65350.0,4514548.0,0.098054
...,...,...,...,...,...,...,...,...,...
16310,2020-01-17,2020,01,WA,0.0,0.0,0.0,0.0,NaN
16311,2020-01-16,2020,01,WA,0.0,0.0,0.0,0.0,NaN
16312,2020-01-15,2020,01,WA,0.0,0.0,0.0,0.0,NaN
16313,2020-01-14,2020,01,WA,0.0,0.0,0.0,0.0,NaN
16314,2020-01-13,2020,01,WA,0.0,0.0,0.0,0.0,NaN

In [88]:
total_month_df = all_states_df.loc[(all_states_df.date == "2020-01-31") | (all_states_df.date == "2020-02-28") | (all_states_df.date == "2020-03-31") |
                               (all_states_df.date == "2020-04-30") | (all_states_df.date == "2020-05-31") | (all_states_df.date == "2020-06-30") |
                               (all_states_df.date == "2020-07-31") | (all_states_df.date == "2020-08-31") | (all_states_df.date == "2020-09-30") |
                               (all_states_df.date == "2020-10-31") |(all_states_df.date == "2020-11-30") | (all_states_df.date == "2020-12-31") ]

total_month_df.sample(10)

,date,year,month,state,death,positive,recovered,totalTestResults,Percent Infected Rate
13046,2020-04-30,2020,04,WV,41.0,1118.0,545.0,44541.0,0.025100
14707,2020-03-31,2020,03,NM,5.0,315.0,26.0,13240.0,0.023792
6115,2020-08-31,2020,08,GA,5632.0,270471.0,0.0,2343634.0,0.115407
7871,2020-07-31,2020,07,ND,107.0,6454.0,5289.0,301509.0,0.021406
13018,2020-04-30,2020,04,MO,329.0,7562.0,0.0,84070.0,0.089949
4452,2020-09-30,2020,09,MS,2969.0,98190.0,89737.0,737033.0,0.133223
13040,2020-04-30,2020,04,UT,46.0,4672.0,1939.0,119239.0,0.039182
1038,2020-11-30,2020,11,NC,5261.0,364512.0,315979.0,5316284.0,0.068565
13014,2020-04-30,2020,04,MD,1226.0,21742.0,1432.0,118325.0,0.183748
6139,2020-08-31,2020,08,NM,779.0,25352.0,12960.0,760874.0,0.033320

In [97]:
#groupby month.
#need to find out how to take the last row of data from each month
grouped_states = total_month_df.groupby(["month"]).sum()

#rest index 
grouped_states

,death,positive,recovered,totalTestResults,Percent Infected Rate
month,,,,,
01,0.0,2.0,0.0,8.0,inf
02,4.0,15.0,0.0,6490.0,inf
03,4332.0,196932.0,5666.0,1183973.0,7.299423
04,59599.0,1073216.0,154587.0,6636253.0,6.349210
05,100780.0,1791042.0,522456.0,18080056.0,4.300746
06,120257.0,2622225.0,813219.0,34744589.0,3.425182
07,145513.0,4521307.0,1437182.0,60434717.0,3.485585
08,175752.0,5977153.0,2183106.0,85406657.0,3.466067
09,199084.0,7168137.0,2838664.0,112426581.0,3.386226
10,222639.0,9054023.0,3610296.0,148330649.0,3.597479
11,259697.0,13463395.0,5146643.0,195510467.0,4.378455