In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import json

#import numpy as np

In [2]:
#url for get request 
#url = "https://api.covidtracking.com/v1/states/daily.json"

#response = requests.get(url).json()

#print (json.dumps(response, indent=4, sort_keys=True))

In [17]:
all_states_history_path = "data/all-states-history.csv"
national_history_path = "data/national-history.csv"

all_states_history = pd.read_csv(all_states_history_path)
national_history = pd.read_csv(national_history_path)

#split date column
all_states_history[["year", "month", "day"]] = all_states_history["date"].str.split('-',expand=True)

#make new df
all_states_df = pd.DataFrame(all_states_history[["year", "month", "state", "death", "positive", "recovered", "totalTestResults"]])

#remove NaN from columns
all_states_df["death"] = all_states_df["death"].fillna(0)
all_states_df["positive"] = all_states_df["positive"].fillna(0)
all_states_df["recovered"] = all_states_df["recovered"].fillna(0)
all_states_df["totalTestResults"] = all_states_df["totalTestResults"].fillna(0)

all_states_df

       year month state   death  positive  recovered  totalTestResults
0      2020    12    AK   183.0   41905.0     7165.0         1184922.0
1      2020    12    AL  4296.0  315683.0   183625.0         1764750.0
2      2020    12    AR  3139.0  197421.0   171864.0         1913448.0
3      2020    12    AS     0.0       0.0        0.0            2140.0
4      2020    12    AZ  7819.0  442671.0    65350.0         4514548.0
...     ...   ...   ...     ...       ...        ...               ...
16310  2020    01    WA     0.0       0.0        0.0               0.0
16311  2020    01    WA     0.0       0.0        0.0               0.0
16312  2020    01    WA     0.0       0.0        0.0               0.0
16313  2020    01    WA     0.0       0.0        0.0               0.0
16314  2020    01    WA     0.0       0.0        0.0               0.0

[16315 rows x 7 columns]

In [30]:
#adding percent infected column
all_states_df["Percent Infected Rate"] = (all_states_df["positive"]/all_states_df["totalTestResults"])

#groupby month.
#need to find out how to take the last row of data from each month
grouped_states = all_states_df.groupby(["month"]).sum()

grouped_states

,death,positive,recovered,totalTestResults,Percent Infected Rate
month,,,,,
01,0.0,24.0,0.0,3.300000e+01,inf
02,13.0,202.0,0.0,2.017600e+04,inf
03,20732.0,1205057.0,20108.0,8.637402e+06,inf
04,940617.0,19628162.0,1807604.0,1.110843e+08,206.276115
05,2587747.0,45268420.0,9030543.0,3.707551e+08,178.099735
06,3356840.0,64561492.0,20065292.0,7.824828e+08,111.780387
07,4071630.0,110391138.0,34282082.0,1.471240e+09,106.842467
08,5012393.0,164922076.0,56829932.0,2.271635e+09,107.882601
09,5648254.0,197321477.0,75440610.0,2.962980e+09,102.776188
10,6528375.0,248654803.0,99441805.0,4.038011e+09,106.809110
11,7206618.0,335238964.0,128448489.0,5.145531e+09,120.036158
12,5092868.0,277564490.0,107616750.0,3.824549e+09,83.475513

In [ ]:
#try for loop indtead of groupby