In [1]:
#dependencies
import pandas as pd
import numpy as np

In [2]:
#reading in the state abbreviations
path = '../google_trends/statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.tail(12)

             State Abbrev Code
39    Rhode Island   R.I.   RI
40  South Carolina   S.C.   SC
41    South Dakota   S.D.   SD
42       Tennessee  Tenn.   TN
43           Texas   Tex.   TX
44            Utah   Utah   UT
45         Vermont    Vt.   VT
46        Virginia    Va.   VA
47      Washington  Wash.   WA
48   West Virginia  W.Va.   WV
49       Wisconsin   Wis.   WI
50         Wyoming   Wyo.   WY

In [3]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [4]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(40, 51):
    path = f'../google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = pd.read_csv(path)

In [5]:
#inspecting the keys (ie df names)
states_df_dict.keys()

dict_keys(['SC_data_df', 'SD_data_df', 'TN_data_df', 'TX_data_df', 'UT_data_df', 'VT_data_df', 'VA_data_df', 'WA_data_df', 'WV_data_df', 'WI_data_df', 'WY_data_df'])

In [6]:
#test printing a df
print(state_codes[40])
states_df_dict[f'{state_codes[40]}_data_df'].head(10)

SC

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,96,78,70,87,68,0,65,22,68,...,60,92,66,80,91,37,59,NaN,False,False
1,2019-01-13,95,76,73,87,74,0,66,10,83,...,61,87,54,48,79,35,68,NaN,False,False
2,2019-01-20,88,80,71,81,69,0,61,18,73,...,62,83,55,54,89,41,68,NaN,False,False
3,2019-01-27,93,76,70,83,71,0,66,17,80,...,61,94,43,44,83,48,69,NaN,False,False
4,2019-02-03,92,78,72,88,65,0,61,26,60,...,61,81,42,73,89,58,57,NaN,False,False
5,2019-02-10,95,80,68,92,58,0,63,20,72,...,64,91,51,47,78,43,70,NaN,False,False
6,2019-02-17,95,82,76,90,66,0,78,23,67,...,67,91,40,40,83,53,80,NaN,False,False
7,2019-02-24,100,84,73,94,64,0,69,25,68,...,64,87,55,45,86,70,74,NaN,False,False
8,2019-03-03,97,82,72,93,63,0,59,46,75,...,70,89,51,39,91,52,76,NaN,False,False
9,2019-03-10,93,83,68,86,55,0,68,22,66,...,64,84,46,63,84,55,58,NaN,False,False

In [44]:
col_names = list(states_df_dict[f'{state_codes[40]}_data_df'].columns)
col_names

['time',
 'arts_entertainment',
 'autos',
 'beauty_fitness',
 'books_lit',
 'action_adventure',
 'campaigns_elections',
 'celebs',
 'discrimination',
 'entertainment_media',
 'games_systems_consoles',
 'health_news',
 'infectious_diseases',
 'law_enf',
 'lottos',
 'mobiles',
 'online_vids',
 'scifi_fantasy',
 'sport_news',
 'tv_shows',
 'voice_vid_chat',
 'weather',
 'covid_cases',
 'stay_at_home',
 'mass_gathering_ban']

In [69]:
col_names_for_max = [x for x in col_names if x not in ['time', 'covid_cases', 'stay_at_home', 'mass_gathering_ban']]

In [70]:
col_names_for_max

['arts_entertainment',
 'autos',
 'beauty_fitness',
 'books_lit',
 'action_adventure',
 'campaigns_elections',
 'celebs',
 'discrimination',
 'entertainment_media',
 'games_systems_consoles',
 'health_news',
 'infectious_diseases',
 'law_enf',
 'lottos',
 'mobiles',
 'online_vids',
 'scifi_fantasy',
 'sport_news',
 'tv_shows',
 'voice_vid_chat',
 'weather']

In [42]:
times_list = list(states_df_dict[f'{state_codes[40]}_data_df']['time'])

In [43]:
times_list

['2019-01-06',
 '2019-01-13',
 '2019-01-20',
 '2019-01-27',
 '2019-02-03',
 '2019-02-10',
 '2019-02-17',
 '2019-02-24',
 '2019-03-03',
 '2019-03-10',
 '2019-03-17',
 '2019-03-24',
 '2019-03-31',
 '2019-04-07',
 '2019-04-14',
 '2019-04-21',
 '2019-04-28',
 '2019-05-05',
 '2019-05-12',
 '2019-05-19',
 '2019-05-26',
 '2019-06-02',
 '2019-06-09',
 '2019-06-16',
 '2019-06-23',
 '2019-06-30',
 '2019-07-07',
 '2019-07-14',
 '2019-07-21',
 '2019-07-28',
 '2019-08-04',
 '2019-08-11',
 '2019-08-18',
 '2019-08-25',
 '2019-09-01',
 '2019-09-08',
 '2019-09-15',
 '2019-09-22',
 '2019-09-29',
 '2019-10-06',
 '2019-10-13',
 '2019-10-20',
 '2019-10-27',
 '2019-11-03',
 '2019-11-10',
 '2019-11-17',
 '2019-11-24',
 '2019-12-01',
 '2019-12-08',
 '2019-12-15',
 '2019-12-22',
 '2019-12-29',
 '2020-01-05',
 '2020-01-12',
 '2020-01-19',
 '2020-01-26',
 '2020-02-02',
 '2020-02-09',
 '2020-02-16',
 '2020-02-23',
 '2020-03-01',
 '2020-03-08',
 '2020-03-15',
 '2020-03-22',
 '2020-03-29',
 '2020-04-05',
 '2020-04-12',
 '2020-04-19',
 '2020-04-26',
 '2020-05-03',
 '2020-05-10',
 '2020-05-17',
 '2020-05-24',
 '2020-05-31',
 '2020-06-07',
 '2020-06-14',
 '2020-06-21',
 '2020-06-28',
 '2020-07-05',
 '2020-07-12',
 '2020-07-19',
 '2020-07-26',
 '2020-08-02',
 '2020-08-09',
 '2020-08-16',
 '2020-08-23',
 '2020-08-30',
 '2020-09-06',
 '2020-09-13',
 '2020-09-20',
 '2020-09-27',
 '2020-10-04',
 '2020-10-11',
 '2020-10-18',
 '2020-10-25',
 '2020-11-01',
 '2020-11-08',
 '2020-11-15',
 '2020-11-22',
 '2020-11-29',
 '2020-12-06',
 '2020-12-13',
 '2020-12-20']

In [12]:
states_df_dict[f'{state_codes[40]}_data_df'].iloc[:, 1:22]

,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,games_systems_consoles,...,infectious_diseases,law_enf,lottos,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather
0,96,78,70,87,68,0,65,22,68,49,...,10,65,59,60,92,66,80,91,37,59
1,95,76,73,87,74,0,66,10,83,54,...,10,55,58,61,87,54,48,79,35,68
2,88,80,71,81,69,0,61,18,73,44,...,10,54,59,62,83,55,54,89,41,68
3,93,76,70,83,71,0,66,17,80,43,...,13,51,54,61,94,43,44,83,48,69
4,92,78,72,88,65,0,61,26,60,47,...,13,55,58,61,81,42,73,89,58,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,80,70,63,55,69,1,64,11,72,97,...,13,38,53,63,70,75,42,71,17,47
99,80,73,68,60,56,1,61,13,63,75,...,13,44,56,65,72,74,43,69,73,59
100,83,76,67,55,65,1,59,14,66,76,...,15,43,58,62,68,72,46,75,68,44
101,82,74,68,59,59,1,67,18,68,73,...,17,42,68,62,79,94,54,74,58,68
102,89,76,71,53,74,0,66,13,70,95,...,17,38,80,65,77,95,43,71,39,66

In [93]:
states_df_dict[f'{state_codes[40]}_data_df'].iloc[:, 1:22].columns

Index(['arts_entertainment', 'autos', 'beauty_fitness', 'books_lit',
       'action_adventure', 'campaigns_elections', 'celebs', 'discrimination',
       'entertainment_media', 'games_systems_consoles', 'health_news',
       'infectious_diseases', 'law_enf', 'lottos', 'mobiles', 'online_vids',
       'scifi_fantasy', 'sport_news', 'tv_shows', 'voice_vid_chat', 'weather'],
      dtype='object')

In [94]:
states_df_dict[f'{state_codes[40]}_data_df'].iloc[:, 1:22]['campaigns_elections']

0      0
1      0
2      0
3      0
4      0
      ..
98     1
99     1
100    1
101    1
102    0
Name: campaigns_elections, Length: 103, dtype: int64

In [11]:
states_df_dict[f'{state_codes[40]}_data_df'].iloc[:, 1:22].rank(ascending=False,axis = 1)

,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,games_systems_consoles,...,infectious_diseases,law_enf,lottos,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather
0,1.0,6.0,7.0,4.0,8.5,21.0,11.5,19.0,8.5,17.0,...,20.0,11.5,14.5,13.0,2.0,10.0,5.0,3.0,18.0,14.5
1,1.0,6.0,8.0,2.5,7.0,21.0,10.0,19.5,4.0,14.5,...,19.5,13.0,12.0,11.0,2.5,14.5,16.0,5.0,18.0,9.0
2,2.0,5.0,7.0,4.0,8.0,21.0,11.0,19.0,6.0,17.0,...,20.0,14.5,12.0,10.0,3.0,13.0,14.5,1.0,18.0,9.0
3,2.0,6.0,8.0,3.5,7.0,21.0,10.0,19.0,5.0,17.5,...,20.0,14.0,13.0,12.0,1.0,17.5,16.0,3.5,15.0,9.0
4,1.0,5.0,7.0,3.0,8.0,21.0,9.5,19.0,11.0,16.0,...,20.0,15.0,12.5,9.5,4.0,17.0,6.0,2.0,12.5,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2.0,6.5,10.5,12.0,8.0,21.0,9.0,20.0,4.0,1.0,...,19.0,16.0,13.0,10.5,6.5,3.0,15.0,5.0,18.0,14.0
99,1.0,4.5,8.0,12.0,14.5,21.0,11.0,19.5,10.0,2.0,...,19.5,17.0,14.5,9.0,6.0,3.0,18.0,7.0,4.5,13.0
100,1.0,2.5,9.0,15.0,11.0,21.0,13.0,20.0,10.0,2.5,...,19.0,18.0,14.0,12.0,7.5,5.0,16.0,4.0,7.5,17.0
101,2.0,4.5,8.5,13.5,13.5,21.0,11.0,19.0,8.5,6.0,...,20.0,17.0,8.5,12.0,3.0,1.0,16.0,4.5,15.0,8.5
102,3.0,6.0,8.5,14.0,7.0,21.0,11.5,20.0,10.0,1.5,...,19.0,18.0,4.0,13.0,5.0,1.5,16.0,8.5,17.0,11.5

In [14]:
ranked_states_40 = states_df_dict[f'{state_codes[40]}_data_df'].iloc[:, 1:22].rank(ascending=False,axis = 1)

In [98]:
max_rows = []
max_cols = []
max_indices = []
for x in range(0, len(ranked_states_40)):
    for y in range(0, len(ranked_states_40.columns)):
        if ranked_states_40.iloc[x,y] == 1.0:
            max_rows.append((x))
            max_cols.append((y))

In [99]:
print(max_rows)
print(max_cols)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100, 101]
[0, 0, 18, 15, 0, 0, 0, 0, 0, 0, 0, 13, 0, 0, 0, 0, 3, 19, 15, 13, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 1, 1, 0, 15, 0, 0, 0, 0, 16, 0, 0, 0, 0, 17, 0, 16, 0, 0, 0, 0, 0, 0, 20, 3, 3, 0, 11, 0, 8, 0, 0, 10, 0, 0, 1, 2, 1, 12, 1, 1, 7, 1, 1, 1, 1, 1, 1, 1, 0, 15, 15, 15, 15, 6, 6, 14, 0, 4, 9, 0, 9, 0, 0, 16]

In [100]:
max_cols_names = []
for x in max_cols:
    max_cols_names.append(col_names_for_max[x])

In [101]:
max_cols_names

['arts_entertainment',
 'arts_entertainment',
 'tv_shows',
 'online_vids',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'lottos',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'books_lit',
 'voice_vid_chat',
 'online_vids',
 'lottos',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'online_vids',
 'autos',
 'autos',
 'arts_entertainment',
 'online_vids',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'scifi_fantasy',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'sport_news',
 'arts_entertainment',
 'scifi_fantasy',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'arts_entertainment',
 'weather',
 'books_lit',
 'books_lit',
 'arts_entertainment',
 'infectious_diseases',
 'arts_entertainment',
 'entertainment_media',
 'arts_entertainment',
 'arts_entertainment',
 'health_news',
 'arts_entertainment',
 'arts_entertainment',
 'autos',
 'beauty_fitness',
 'autos',
 'law_enf',
 'autos',
 'autos',
 'discrimination',
 'autos',
 'autos',
 'autos',
 'autos',
 'autos',
 'autos',
 'autos',
 'arts_entertainment',
 'online_vids',
 'online_vids',
 'online_vids',
 'online_vids',
 'celebs',
 'celebs',
 'mobiles',
 'arts_entertainment',
 'action_adventure',
 'games_systems_consoles',
 'arts_entertainment',
 'games_systems_consoles',
 'arts_entertainment',
 'arts_entertainment',
 'scifi_fantasy']

In [102]:
max_times_names = []
for x in max_rows:
    max_times_names.append(times_list[x])

In [103]:
len(max_times_names), len(max_rows), len(max_cols_names)

(94, 94, 94)

In [104]:
max_pairs = []
for x in range(0, len(max_times_names)):
    max_pairs.append((max_times_names[x], max_cols_names[x]))
max_pairs

[('2019-01-06', 'arts_entertainment'),
 ('2019-01-13', 'arts_entertainment'),
 ('2019-01-20', 'tv_shows'),
 ('2019-01-27', 'online_vids'),
 ('2019-02-03', 'arts_entertainment'),
 ('2019-02-10', 'arts_entertainment'),
 ('2019-02-17', 'arts_entertainment'),
 ('2019-02-24', 'arts_entertainment'),
 ('2019-03-03', 'arts_entertainment'),
 ('2019-03-10', 'arts_entertainment'),
 ('2019-03-17', 'arts_entertainment'),
 ('2019-03-24', 'lottos'),
 ('2019-03-31', 'arts_entertainment'),
 ('2019-04-07', 'arts_entertainment'),
 ('2019-04-14', 'arts_entertainment'),
 ('2019-04-21', 'arts_entertainment'),
 ('2019-04-28', 'books_lit'),
 ('2019-05-19', 'voice_vid_chat'),
 ('2019-05-26', 'online_vids'),
 ('2019-06-02', 'lottos'),
 ('2019-06-16', 'arts_entertainment'),
 ('2019-06-23', 'arts_entertainment'),
 ('2019-06-30', 'arts_entertainment'),
 ('2019-07-07', 'arts_entertainment'),
 ('2019-07-14', 'arts_entertainment'),
 ('2019-07-21', 'arts_entertainment'),
 ('2019-07-28', 'arts_entertainment'),
 ('2019-08-04', 'arts_entertainment'),
 ('2019-08-11', 'arts_entertainment'),
 ('2019-08-18', 'online_vids'),
 ('2019-08-25', 'autos'),
 ('2019-09-01', 'autos'),
 ('2019-09-22', 'arts_entertainment'),
 ('2019-09-29', 'online_vids'),
 ('2019-10-13', 'arts_entertainment'),
 ('2019-10-20', 'arts_entertainment'),
 ('2019-10-27', 'arts_entertainment'),
 ('2019-11-03', 'arts_entertainment'),
 ('2019-11-10', 'scifi_fantasy'),
 ('2019-11-17', 'arts_entertainment'),
 ('2019-11-24', 'arts_entertainment'),
 ('2019-12-01', 'arts_entertainment'),
 ('2019-12-08', 'arts_entertainment'),
 ('2019-12-15', 'sport_news'),
 ('2019-12-22', 'arts_entertainment'),
 ('2019-12-29', 'scifi_fantasy'),
 ('2020-01-05', 'arts_entertainment'),
 ('2020-01-12', 'arts_entertainment'),
 ('2020-01-19', 'arts_entertainment'),
 ('2020-01-26', 'arts_entertainment'),
 ('2020-02-02', 'arts_entertainment'),
 ('2020-02-09', 'arts_entertainment'),
 ('2020-02-16', 'weather'),
 ('2020-02-23', 'books_lit'),
 ('2020-03-01', 'books_lit'),
 ('2020-03-08', 'arts_entertainment'),
 ('2020-03-15', 'infectious_diseases'),
 ('2020-03-22', 'arts_entertainment'),
 ('2020-03-29', 'entertainment_media'),
 ('2020-04-05', 'arts_entertainment'),
 ('2020-04-12', 'arts_entertainment'),
 ('2020-04-19', 'health_news'),
 ('2020-04-26', 'arts_entertainment'),
 ('2020-05-03', 'arts_entertainment'),
 ('2020-05-10', 'autos'),
 ('2020-05-17', 'beauty_fitness'),
 ('2020-05-24', 'autos'),
 ('2020-05-31', 'law_enf'),
 ('2020-06-07', 'autos'),
 ('2020-06-14', 'autos'),
 ('2020-06-21', 'discrimination'),
 ('2020-06-28', 'autos'),
 ('2020-07-05', 'autos'),
 ('2020-07-12', 'autos'),
 ('2020-07-19', 'autos'),
 ('2020-07-26', 'autos'),
 ('2020-08-02', 'autos'),
 ('2020-08-09', 'autos'),
 ('2020-08-23', 'arts_entertainment'),
 ('2020-08-30', 'online_vids'),
 ('2020-09-06', 'online_vids'),
 ('2020-09-13', 'online_vids'),
 ('2020-09-20', 'online_vids'),
 ('2020-09-27', 'celebs'),
 ('2020-10-04', 'celebs'),
 ('2020-10-11', 'mobiles'),
 ('2020-10-18', 'arts_entertainment'),
 ('2020-10-25', 'action_adventure'),
 ('2020-11-08', 'games_systems_consoles'),
 ('2020-11-15', 'arts_entertainment'),
 ('2020-11-22', 'games_systems_consoles'),
 ('2020-11-29', 'arts_entertainment'),
 ('2020-12-06', 'arts_entertainment'),
 ('2020-12-13', 'scifi_fantasy')]

In [105]:
shared_max_rows = []
shared_max_cols = []
shared_max_indices = []
for x in range(0, len(ranked_states_40)):
    for y in range(0, len(ranked_states_40.columns)):
        if ranked_states_40.iloc[x,y] == 1.5:
            shared_max_rows.append((x))
            shared_max_cols.append((y))

In [106]:
len(shared_max_rows)
len(shared_max_cols)

16

In [107]:
shared_max_times_names = []
for x in shared_max_rows:
    shared_max_times_names.append(times_list[x])

In [109]:
shared_max_cols_names = []
for x in shared_max_cols:
    shared_max_cols_names.append(col_names_for_max[x])

In [110]:
shared_max_pairs = []
for x in range(0, len(shared_max_times_names)):
    shared_max_pairs.append((shared_max_times_names[x], shared_max_cols_names[x]))
shared_max_pairs

[('2019-05-05', 'arts_entertainment'),
 ('2019-05-05', 'books_lit'),
 ('2019-06-09', 'arts_entertainment'),
 ('2019-06-09', 'autos'),
 ('2019-09-08', 'autos'),
 ('2019-09-08', 'mobiles'),
 ('2019-09-15', 'online_vids'),
 ('2019-09-15', 'tv_shows'),
 ('2019-10-06', 'arts_entertainment'),
 ('2019-10-06', 'online_vids'),
 ('2020-08-16', 'arts_entertainment'),
 ('2020-08-16', 'autos'),
 ('2020-11-01', 'campaigns_elections'),
 ('2020-11-01', 'celebs'),
 ('2020-12-20', 'games_systems_consoles'),
 ('2020-12-20', 'scifi_fantasy')]

In [112]:
shared_max_pairs[0][0]

'2019-05-05'

In [115]:
shortened_shared_maxes = []
for x in range(0, (len(shared_max_pairs)-1)):
    if shared_max_pairs[x][0] == shared_max_pairs[x+1][0]:
        shortened_shared_maxes.append((shared_max_pairs[x][0], shared_max_pairs[x][1], shared_max_pairs[x+1][1]))
    else:
        continue
shortened_shared_maxes

[('2019-05-05', 'arts_entertainment', 'books_lit'),
 ('2019-06-09', 'arts_entertainment', 'autos'),
 ('2019-09-08', 'autos', 'mobiles'),
 ('2019-09-15', 'online_vids', 'tv_shows'),
 ('2019-10-06', 'arts_entertainment', 'online_vids'),
 ('2020-08-16', 'arts_entertainment', 'autos'),
 ('2020-11-01', 'campaigns_elections', 'celebs'),
 ('2020-12-20', 'games_systems_consoles', 'scifi_fantasy')]