In [1]:
#notebook for reading csv

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import pandas as pd
import scipy.stats as sts
import numpy as np
import datetime

In [4]:
all_states_history_path = "Resources/all-states-history.csv"
national_history_path = "Resources/national-history.csv"

all_states_history = pd.read_csv(all_states_history_path)
national_history = pd.read_csv(national_history_path)

In [5]:
all_states_history.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-18,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,2020-12-18,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,2020-12-18,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,2020-12-18,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-18,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882

In [6]:
national_history.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease
0,2020-12-18,305127.0,2866,34716.0,21745.0,5240,114685.0,638147.0,177471234.0,866532,3519.0,7786.0,17251064.0,239246,6762700.0,56,227933398,1530197
1,2020-12-17,302261.0,3438,34485.0,21910.0,5133,114195.0,632907.0,176604702.0,1257526,3504.0,7847.0,17011818.0,240156,6681651.0,56,226403201,1873340
2,2020-12-16,298823.0,3448,34237.0,21946.0,4800,113066.0,627774.0,175347176.0,1200071,3488.0,7778.0,16771662.0,231653,6597661.0,56,224529861,1791968
3,2020-12-15,295375.0,2971,33958.0,21882.0,4398,112814.0,622974.0,174147105.0,1328079,3460.0,7701.0,16540009.0,189783,6490879.0,56,222737893,1781610
4,2020-12-14,292404.0,1358,33693.0,21456.0,3569,110549.0,618576.0,172819026.0,1690191,3442.0,7706.0,16350226.0,192466,6399531.0,56,220956283,2159460